[2021-05-16 15:11] BumpyKnuckls commented on #181
@shailesh Thanks a lot for digging into it. Do you want to open a PR for it as well? That would be helpful to the entire community.

[2021-05-16 15:13] shailesh commented on #181
Have asked @pallupz to add in their code and they have added it. Thanks

Discussion: https://github.com/pallupz/covid-vaccine-booking/discussions/160
Commit: https://github.com/pallupz/covid-vaccine-booking/commit/876b248fe1ca74f0bfeff9d5200cd41fd7d9d5f8

[2021-05-16 15:13] shailesh commented on #181
I get permission error while pushing. :(

[2021-05-16 15:14] mnjit007 commented on #156
@gitmnj @AanchalV I updated my answer. Basically missed to mention that you need to add an import statement `import threading` in the `utils.py` file.

[2021-05-16 15:15] shailesh commented on #156
@mnjit007 I hope this helped

[2021-05-16 15:18] BumpyKnuckls commented on #179
@Huzaifg I think the problem maybe that IFTTT is running on one phone, but the sms is going to another phone? If thats the case then, can you try running IFTTT on the phone which is also receiving the sms?

I am closing this issue for now, since the way IFTTT is being used is incorrect. Requesting you to please try the above and reopen this issue, if the problem persists.

[2021-05-16 15:18] #179 closed

[2021-05-16 15:18] shailesh commented on #181
Would be happy if you add me as a collaborator

[2021-05-16 15:19] puneetlohia commented on #188
@akshay8043  This is an issue with cowin public and protected api.
if you go and check the cowin website, you would be able to see similar redundancy there as well.
publicly you would see the slots, but when you login and try to book, it wouldn't be available.
Hence you can increase the minimum slots to 25 or something so whenever actual are available will be buzzed.

[2021-05-16 15:20] BumpyKnuckls commented on #181
Hey @shailesh, thanks a lot for the interest. In order to send a PR, you would have to fork the repo in your own GitHub, make code changes in the fork and then open a PR against the main branch of this repo. That would enable you to make code changes in this repo.

[2021-05-16 15:22] shailesh commented on #181
Tried some permission issue then added Key to account further permission issue. I'll fix this next for next time. Please go ahead and make the changes. Thanks

[2021-05-16 15:30] BumpyKnuckls commented on #188
Thanks a lot @puneetlohia for chiming in with your help :) Marking this as closed since the query has been answered.

[2021-05-16 15:30] #188 closed

[2021-05-16 15:45] #181 closed

[2021-05-16 15:51] Huzaifg commented on #179
@BumpyKnuckls
IFTTT is running on the phone on which the OTP is being recieved (both my friends phone). Can you please reopen the issue as your assumption is incorrect?
I will close the issue once I have tested the suggestions and found it to be working.

[2021-05-16 17:03] vishalv26 commented on #173
Hello. I have integrated this into my project. Now. If user double clicks on `advanced.bat` it will open the same script as this repo.

[2021-05-16 17:31] gitmnj commented on #156
![image](https://user-images.githubusercontent.com/66999015/118406711-a090e000-b69a-11eb-9561-f295a5c5d013.png)

[2021-05-16 17:32] gitmnj commented on #156
please I request you to send me a copy of the working program at https://t.me/manojchauhan16

[2021-05-16 17:33] shailesh opened #190 "Leverage an access to book a slot by Centre Name"
Can we allow users to book by center name? As for single PIN code [560076], there are different centers e.g

1. APOLLO HOSPITAL 1,
2. ARAKERE UPHC,
3. KODICHIKKANAHALLI UPHC

but I trust APOLLO more or the infra is great and want to book only in Apollo once available.

For me I've hardcoded now:
[code]

I know this is an over-engineering for such script but maybe it is going to help someone out th

[2021-05-16 17:35] shailesh commented on #156
@gitmnj take a look at this
https://stackoverflow.com/questions/53246933/python-execute-playsound-in-separate-thread

[2021-05-16 18:00] gitmnj commented on #156
sir please i request you to send me the code at https://t.me/manojchauhan16 since I'm a beginner

[2021-05-16 18:19] Nakul93 commented on #190
Actually I rather prefer keeping my fee preference as PAID to get pvt hosp since as you mentioned they have good infra.
The distance thing seems reasonable, I’ve seen there is API to search by lat-long maybe we could use that to find the nearest centre

[2021-05-16 18:23] shailesh commented on #190
Lat-Long is a great idea but are we sure that it is going to return just a single centre and no other choice. I had this thought of paid but then there are again multi centres (distance will matter and maybe unknown hospital/clinic to the user)

[2021-05-16 19:29] Abhinav2812 commented on #165
I think it might have to do with the endpoint (BOOKING_URL should end with /reschedule instead of /schedule)
Just a hunch, because my first (Covishield) reservation went through, but eventually got 500 for Covaxin's reservation :/
Even if that is the case, I guess someone would need to open CoWin and monitor Network in Chrome devtools to see how the api call is being made, can someone please take

[2021-05-16 19:48] shailesh commented on #165
This needs a fix.
if a user already had already booked an appointment and is trying to reschedule the request URL should be https://cdn-api.co-vin.in/api/v2/appointment/reschedule

whereas the script is using /schedule and this throws 500 error.

**Good catch @Abhinav2812. Can you please add a patch for this fix?**

see while fetching beneficiaries if there is an appointment either use reschedule

[2021-05-16 20:04] Abhinav2812 commented on #165
Hmm.. I think we'll need to re-think our caching too, we probably should store only beneficiary IDs and then build up from there at launch. I'll try to give this a shot in the morning, though I can't promise any ETAs as weekdays get busy for me..
BTW, are you sure that reschedule endpoint accepts the same json passed to schedule? Open API documents a different format
![Screenshot_2021-05-17-01-32-

[2021-05-16 20:05] shailesh commented on #165
Just to confirm reschedule doesn't work for a new schedule with no appintment.

=====================ATTEMPTING BOOKING=====================================
Booking Response Code: 400
Booking Response : child "ben_appointment_id" fails because ["ben_appointment_id" is required]
Response: 400 : child "ben_appointment_id" fails because ["ben_appointment_id" is required]

for reschedule **ben_appoint

[2021-05-16 20:08] shailesh commented on #165
Just to confirm reschedule doesn't work for a new schedule with no appointment.

=====================ATTEMPTING BOOKING=====================================
Booking Response Code: 400
Booking Response : child "ben_appointment_id" fails because ["ben_appointment_id" is required]
Response: 400 : child "ben_appointment_id" fails because ["ben_appointment_id" is required]

for reschedule **ben_appoin

[2021-05-16 20:24] gitmnj commented on #165
the best option you all can try for now till we find some solution is to go on cowin portal and reschedule the booking randomly anywhere in india where slots are available then cancel all the appointments so by this method you will be able to cancel all the appointments click on cancel appointments till it shows appointment not scheduled and then when we use the script it is working

earlier i was

[2021-05-16 20:29] shailesh commented on #165
What I did was the same and worked for me.

[2021-05-16 20:41] shailesh commented on #165
@Abhinav2812 so we have a workaround for this.

Assuming in single sot user is trying to book for all or either of then to reschedule and some to fresh schedule.

1. Ask the user to cancel (if it is not today's active session can be canceled) else reschedule to some other day, once rescheduled cancel it and book a new one.

conditions: Need user input if this is what they are looking for
[code]

i

[2021-05-17 03:07] Sanku827 opened #191 "How to select a slot rather than automatically picking one"
We see a lot of centers are glitched today. The glitched centers come on top every time causing other available centers to go down. This is leading to the failure of booking as the script always tries to book the first one and not the second one.
Can we get an option to select the slot?

[2021-05-17 04:30] shailesh commented on #191
@Sanku827 https://github.com/bombardier-gif/covid-vaccine-booking#usage

[2021-05-17 04:42] jayanthbagare opened #192 "Run in background"
It would be nice to see if we can run this in the background on the server.

[2021-05-17 04:52] shailesh commented on #177
![Screenshot_20210517-102046](https://user-images.githubusercontent.com/9050349/118433921-b681bd80-b6f9-11eb-9cfa-9aa28f1559ed.jpg)

[2021-05-17 04:53] shailesh commented on #192
@jayanthbagare https://stackoverflow.com/questions/39139165/running-simple-python-script-continuously-on-heroku

[2021-05-17 06:18] Prakhar-Shukla05 opened #193 "Script is getting old available slots. Looks like some change in apis"
================================================================================
Centers available in BBMP from 17-05-2021 as of 2021-05-17 11:46:51: 4
+-------+---------------------------+------------+-----------+-------------+------------+------------------------------------------------------------------------------+
|   idx | name                      | district   |   pincode |   available | da

[2021-05-17 06:29] bombardier-gif commented on #190
it will end up in too many options. And also most of the people at moment need a slot anywhere they can get a shot

[2021-05-17 06:30] bombardier-gif commented on #191
This script selects a random slot. and not always the first slot.
This is by design to maximize the success

[2021-05-17 06:30] #191 closed

[2021-05-17 06:31] #192 closed

[2021-05-17 06:31] bombardier-gif commented on #192
Thanks @shailesh for the tip!

[2021-05-17 06:32] bombardier-gif commented on #193
Are you able to book the slot?

[2021-05-17 06:33] shailesh commented on #190
I agree

[2021-05-17 06:35] shailesh commented on #193
I'm not getting this for:

[code]

Can check the time in system logs, when did you get that?

[2021-05-17 06:36] shailesh commented on #165
@bombardier-gif Please update the level

[2021-05-17 07:09] sbstratos79 opened #194 "Change the Hotword trigger in IFTTT and the app (if the app uses the same trigger) from CoWIN to OTP*CoWIN (if IFTTT supports regex)"
Having CoWIN as the hotword trigger is a HUGE privacy concern since IFTTT will trigger even on receiving the Slot Booking confirmation SMS. That means, the last message stored in the KVDB bucket will be an sms containing the Phone number as the key, and the SMS containing the Full Name of the user and the Vaccination Center, i.e. approximate location. That is a huge privacy risk. Using OTP*CoWIN a

[2021-05-17 07:10] ketan1234fx opened #195 "help to install python properly"
can u please help me to install python to run this scripts,i am new in this so please guide sir

[2021-05-17 07:20] vishalv26 commented on #195
Go to https://github.com/vishalv26/covid-vaccine-booking and download the zip from latest release and run `advanced.bat` and you are good to go

[2021-05-17 07:57] arcanebloke5888 commented on #192
@shailesh I'm struggling in setting it up on heroku. Can you provide more details?

[2021-05-17 08:03] shailesh commented on #192
https://dev.to/josylad/how-to-deploy-a-python-script-or-bot-to-heroku-in-5-minutes-9dp

[2021-05-17 08:30] itsacdee opened #196 "Does the code fix the 30 minute caching issue?"
Does it show instant results since there have been changes made to the public API.

[2021-05-17 09:08] bombardier-gif commented on #195
Hi @ketan1234fx Installing python should be straightforward. You can refer to many tutorials online depending on your platform

[2021-05-17 09:08] #195 closed

[2021-05-17 09:09] bombardier-gif commented on #194
Thanks @sbstratos79 did you test if OTP*CoWIN as the hotword trigger fixes this issue ?
If yes, then i will update the documentation asap.

[2021-05-17 09:10] sbstratos79 commented on #194
I tried it with Macrodroid, since that's what I am using for automation on phone. Can't say anything about IFTTT.

[2021-05-17 09:12] sbstratos79 commented on #194
Instead of using IFTTT, you can use Macrodroid. Macrodroid supports curl commands through shell. You can simply distribute the .macro file and users can directly use that to install the macro once Macrodroid is installed on their phone. No additional setup required.

[2021-05-17 09:13] prakharaug opened #197 "I do not want the script to auto book the slot"
The script is auto-booking the slot and is not displaying the option to select from our side whether to auto book or not. Please Help.
![image](https://user-images.githubusercontent.com/59426657/118464222-3c176480-b71e-11eb-8192-e64d310171e0.png)

[2021-05-17 09:32] shailesh commented on #196
Script uses Private APIs I guess

[code]

[2021-05-17 09:35] shailesh commented on #197
Update "auto_book": "n" in vaccine details json and run the script again

[2021-05-17 09:38] prakharaug commented on #197
thats a nice idea

[2021-05-17 10:41] AanchalV commented on #156
Thanks. I worked

[2021-05-17 10:53] #197 closed

[2021-05-17 10:55] BumpyKnuckls commented on #177
Closing this due to inactivity. Please feel free to reopen if required.

[2021-05-17 10:55] #177 closed

[2021-05-17 10:55] chetan1989-cloud opened #198 "Aarogya setu APIs info"
I see that Aarogya opens this application: https://web.swaraksha.gov.in/ncv19/cowin when it opens page asking for mobile number application and then it generates OTP using a call to: https://web.swaraksha.gov.in/api/v3/cowin/single/cowin_remote_generate_otp but this returns a http 404, may be because I was not logged in ?

I also checked when it is showing vaccine available slots (without login th

[2021-05-17 10:59] shailesh commented on #198
In my guess swarakhsa is just routing back to COWIN APIs, acting as a wrapper. For Captcha as per my understanding they have an API keys to pass in Header and then that is handled via API keys if or else condition on the backend side. Need to deeg more into their backend code. since it is open source @chetan1989-cloud can you please look into this one. Thanks for the info

[2021-05-17 12:11] ketan1234fx commented on #195
its sowssyntex error while performing oprations

[2021-05-17 12:47] BumpyKnuckls commented on #196
Thanks @shailesh for chipping in with the answer. Marking this as resolved :)

[2021-05-17 12:47] #196 closed

[2021-05-17 13:39] kritchadha commented on #152
please resolve this fast

[2021-05-17 13:56] nirbhay18 commented on #152
Please resolve this fast. It is happening even when auto captcha is not enabled.

[2021-05-17 14:16] chetan1989-cloud opened #199 "Any issue with the script, it is not running for me now?"
Just stuck here:
Do you want to enter OTP manually, instead of auto-read?
Remember selecting n would require some setup described in README (y/n Default n): n
clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/xxxxxxxxxx
Requesting OTP with mobile number xxxxxxxxxx

Also might be taking a long time in clearing the bucket, something wrong with my laptop? I have restarted it already.

[2021-05-17 14:27] japp2021 opened #200 "Throughput exceeds the current capacity of your table or index"
Hello,
While booking today got the following message after the captcha. Ultimately was not able to book. can you please suggest
================================ ATTEMPTING BOOKING ==================================================
Booking Response Code: 500
Booking Response : {"message":"Throughput exceeds the current capacity of your table or index. DynamoDB is automatically scaling your table or

[2021-05-17 14:40] chetan1989-cloud commented on #199
Now this is coming, it has become really slow:
clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/xxxxxxxxxxx
Requesting OTP with mobile number {mobile}..  **>>>>>>>>>>Not showing my mobile number**
hi
<module 'json' from 'C:\\Users\\Chetan\\AppData\\Local\\Programs\\Python\\Python39\\lib\\json\\__init__.py'>  >>>>>>>>>>> **What is this**

I have even reinstalled python and deleted script

[2021-05-17 14:43] shailesh commented on #199
@chetan1989-cloud working fine for me, are you using any VPN?

[2021-05-17 14:48] shailesh opened #201 "Existing Captcha"
Can this line of code by any chance pickup already exist captcha where one was not able to book successfully but had a chance to attempt a booking?

P.S: I know that downloading captcha happens first and will replace the existing one

https://github.com/bombardier-gif/covid-vaccine-booking/blob/76e6dcbe754196b552dad944b6016f9ebeecaa21/src/captcha.py#L8-L20

[2021-05-17 14:58] chetan1989-cloud commented on #199
No man, all of a sudden I had an issue with my hotspot and now it has stopped working.

[2021-05-17 15:00] shailesh commented on #199
Quit and Restart again. I'm sure you must have done this couple of times. The same happened with me but I realized that I was connected to VPN

[2021-05-17 15:06] chetan1989-cloud commented on #199
@shailesh rebooted PC multiple times, did python reinstall but nothing worked. At last switched hotspot connection same socket errors popped up and now it running smoothly again.

[2021-05-17 15:06] #199 closed

[2021-05-17 15:18] arcanebloke5888 commented on #192
This is super helpful. Keep being awesome!

[2021-05-17 15:45] arcanebloke5888 commented on #192
@shailesh how do i enter my phone number on heroku?

I keep getting this error (despite adding mobile number as a config variable)
![image](https://user-images.githubusercontent.com/84184377/118517544-ed38f180-b754-11eb-8b26-cb76ad7ba92b.png)

[2021-05-17 15:54] shailesh commented on #192
This error is about a package beep which has been used to play a sound when slots are available. U do not need this while running on remote server. You can comment out the whole function and wherever used.

I hope this helps.

[2021-05-17 15:54] Nakul93 opened #202 "Set the due date for each vaccine type"
Is it possible to get the dose1 date of a beneficiary and accordingly set the due date for his next dose, so that when one tries to book for 2nd dose, it should look for appointment dates after his due date automatically(without manually giving the date input)
Currently this script goes on and tries to book the 2nd dose and gets an error of 500.

[2021-05-17 16:01] shailesh commented on #199
Great it worked 😜

[2021-05-17 16:06] shailesh commented on #202
@Nakul93 As per my understanding of the code updated by @Abhinav2812 this scenario will not happen if a user has not taken dose one, script won't try to bool for dose 2 for user who are not vacinated. Dose two booking happens for those who are Partially vaccinated.

Coming to error 500 thing, this is more related to #165  I had spent 2 days on this. Finally @Abhinav2812 understood and did RC on th

[2021-05-17 16:07] shailesh commented on #202
@Abhinav2812 please bring a fix for this #165 . Much appreciated

[2021-05-17 16:11] Nakul93 commented on #202
@shailesh I'm not directly booking for dose2, I'm searching for a beneficiary who is partially vaccinated and his due date is not up yet for dose2 but the script goes ahead and tries to book anyway.
Also error 500 is not necessarily for the reschedule thing as mentioned in #165. As per the documentation it says "Internal Server Error"
I think this could be feature that we can add.

[2021-05-17 16:12] get-vac opened #203 "Script doesnt ask for preferred vaccine"
With latest github pull when script is run:
If the user has pre-populated vaccine listed as COVISHIELD (Not sure where this is defined), status (Not Vaccinated):

When you select beneficiary i.e (beneficiary_dtls = get_beneficiaries(request_header)) in collect_user_details
it jumps to Select Location Info ->Additional Info.
The script doesnt present user the option to set a preference for Vaccine.

[2021-05-17 16:13] shailesh commented on #202
Understood this might be an issue not letting users book a slot before date say until the due date

[2021-05-17 16:17] Abhinav2812 commented on #165
Let's do this:-
- check beneficiary details at script run
- If appointment is non-empty, ask to cancel and exit

This is very hacky, but is the best I can do for now. Let's see if we can enhance this over the weekend

[2021-05-17 16:20] shailesh commented on #165
Atleast this will help and let one know that one is trying to book an appointment for existing one and should not fail at final book atleast. Sure we can make it more smarter by enhancing it over the weekend. Thank you 💖

[2021-05-17 16:25] Nakul93 opened #204 "Date format is wrong"
https://github.com/bombardier-gif/covid-vaccine-booking/blob/76e6dcbe754196b552dad944b6016f9ebeecaa21/src/utils.py#L228

When we type in a specific date instead of 1,2(today/tomorrow) the format of the date should be in dd-mm-yyyy instead of yyyy-mm-dd

[2021-05-17 16:28] Nakul93 commented on #165
Or if the appointment is non-empty then give the user an option to either cancel/reschedule and accordingly the cancel/reschedule URL can be used

[2021-05-17 16:32] shailesh commented on #165
Agree but cancel doesn't happen for on going session. So further rescheduling requires for some other days and then cancellation works. So this will require a logic. Over the weekend we can add this

[2021-05-17 16:36] shailesh commented on #204
@Nakul93 please raise a PR
Adding this :
`datetime.datetime.strptime(start_date, '%d-%m-%Y')`

[2021-05-17 16:40] Nakul93 commented on #204
Ok doing it right away

[2021-05-17 17:32] arcanebloke5888 commented on #192
While i was able to get over the previous error (and some follow ups too), I'm stuck on this.
![image](https://user-images.githubusercontent.com/84184377/118531748-ccc46380-b763-11eb-8d83-267ef19852de.png)

How to I enter the phone number as a parameter?

[2021-05-17 17:35] shailesh commented on #192
I've got an idea to dump a JSON file there with a mobile number or in a test file. Then add a parser to parse out the number and pass it in the funstion. Comment out all the input things from the script.

[2021-05-17 17:40] shailesh opened #207 "Multi Preferences for Vaccines"
Currently, we have a single or all preference. Now that. we have more than two vaccines, can we make it to multi preferences?

@Abhinav2812 @Nakul93 M @ can one of you please create a PR for this one. Thanks

[code]
c.c @vishalv26

[2021-05-17 17:43] shailesh commented on #207
Return a list of vaccines and filter out further after fetching centres by pin/district

[2021-05-17 18:31] #204 closed

[2021-05-17 18:44] vishalv26 commented on #207
Instead i would recommend taking comma seperated values like we take in user selection

[2021-05-17 18:47] shailesh commented on #207
That is what is going to happen same as selecting beneficiaries and then storing them in an array. later looping in for this array to filter out types

[2021-05-17 18:53] bombardier-gif commented on #194
@sbstratos79 You could create a PR with steps with macdroid. That would be helpful for the community

[2021-05-17 18:54] bombardier-gif commented on #200
Its an error on their backend. Usually it works after a while.

[2021-05-17 18:54] #200 closed

[2021-05-17 18:55] bombardier-gif commented on #201
You could add logic to delete the existing files, before writing new ones

[2021-05-17 18:56] vishalv26 commented on #207
Ops sorry i thought you posted solution code above. Didn't read it properly. Small screen problem (reading from phone)

[2021-05-17 18:56] bombardier-gif commented on #203
If your cowin entry shows COVISHIELD and not vaccinated, you could delete your entry in cowin and create a new one. This would clear the previous setting.

[2021-05-17 18:56] #203 closed

[2021-05-17 18:56] bombardier-gif commented on #203
Let me know if my understanding of your problem is not correct

[2021-05-17 18:58] bombardier-gif commented on #207
These just add more complexities to the UX. Its already quite complicated. Most of the people are happy with any vaccine they get hold of.

[2021-05-17 18:58] #207 closed

[2021-05-17 19:07] shailesh commented on #207
Agree, maybe we can keep this for future enhancements if required.

[2021-05-18 05:07] Dhanushrajashekar commented on #175
Are you able to run on windows bro? I dont find the windows.exe so help me please if you found a way to run this code

[2021-05-18 06:07] gitmnj commented on #175
Revert me at discord for booking details gitmnj#1526

[2021-05-18 07:20] mirajgodha opened #208 "What is captcha_automation_api_key"
Can someone help me , how to generate the captcha_automation_api_key ?

[2021-05-18 08:11] gitmnj commented on #208
You have to buy subscription of ANTI CAPTCHA for that to automate the captcha process else just press enter to manually put the captcha

[2021-05-18 08:17] csg09 opened #209 "Unable to book slot with Captcha"
When a slot opens up, it throws out the captcha. On entering the captcha correctly, it shows an error and the captcha loop repeats. Unable to book slot due to this.

![image](https://user-images.githubusercontent.com/56230480/118616705-8f052080-b7df-11eb-9828-b9b9ff4d5483.png)

[2021-05-18 08:24] gitmnj commented on #209
do you have the latest script or you're using the old code

please download the new script and try also check the details while booking and currently rescheduling is not working so request you to go on the cowin portal and cancel all the old appointments then give it a try

[2021-05-18 08:26] mirajgodha commented on #208
Got it thanks, need subscription on https://anti-captcha.com/ .. done!! Thanks.

[2021-05-18 08:26] #208 closed

[2021-05-18 08:51] csg09 commented on #209
Oh! Seems like I had an old code. I had used the previous one a week back and it had worked, hence continued to use it. Trying with this one to test my luck!

[2021-05-18 09:29] sbstratos79 commented on #194
I've never made a PR before. I'll just share the guide here.

1. Install Macrodroid from Play Store
2. Open the App Info Page by pressing and holding the Macrodroid icon and selecting App Info/Manage et al.
3. Once installed, give the app permissions for SMS, Phone, Storage and Contacts.
4. Disable Battery Optimization from App Info Page.
5. Download the [OTP_Sync_KVDB.macro](https://drive.google.

[2021-05-18 09:48] shailesh commented on #181
"center_id": 616291,
      "name": "Apollo Hosp Jubilee-INDUSTRIAL",
      "address": "Apollo Hospitals Enterprise LimitedDoor.No.8-2-293-82 J-111-900-A Jubilee Hills",
      "state_name": "Telangana",
      "district_name": "Hyderabad",
      "block_name": "Shaikpet",
      "pincode": 500033,
      "lat": 17,
      "long": 78,
      "from": "10:00:00",
      "to": "14:00:00",
      "fee_type": "P

[2021-05-18 10:11] aryangupta1988 opened #210 "enhancement to book slots only for a specific center_id"
I have used the code to book multiple slots till now and it has worked flawlessly for me(including the captcha). If an option can be added while searching for centers that a **_user can enter only a specific center_id to search and book available slots_**.
In my case, the pincode where I want to book the slot has multiple vaccination centers (all paid) but I want to book only at a specific center

[2021-05-18 13:01] vichuroxx commented on #193
same issue for me.. slot opening delayed reporting and captcha money gets used up because of this delay. vaccine also not getting booked now. I noticed without logged in i get the delayed slot update and after logging in to the cowin website gets the uptodate slot update.

i doubt cowin website team did something to delay the slot update to the public apis and gets uptodate slot data to the ones l

[2021-05-18 18:14] shailesh opened #214 "No validation on length of Mobile Number"
https://github.com/bombardier-gif/covid-vaccine-booking/blob/669fa39befc9518f4a359133abec707c6c29ae04/src/covid-vaccine-slot-booking.py#L31

[2021-05-18 18:15] cm3913 opened #215 "ios shortcuts not sending the otp"
i have setup ios shortcuts for sending the otp , when i get the otp i can see the Shortcut notification but the otp is not sent to the url https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/99xxxxxx

Phone Iphone x on 14.4

If i manually enter the scrip rest of the code is working fine

I appreciate your efforts , Keep up the good work

Please help , Thank You

[2021-05-18 18:20] vishalv26 commented on #214
Let's not crystalize this much. we are good as long as it allows to enter right number and accepts it and work with it.

[2021-05-18 18:55] shailesh commented on #214
I agree but a simple validation for typos

[2021-05-18 18:57] #214 closed

[2021-05-18 19:02] bombardier-gif commented on #215
@BumpyKnuckls fyi

[2021-05-18 19:36] gitmnj commented on #215
It works properly for me, you have to add the shortcut properly and have to click the run button which is better than manually entering the otp I've even changed the notifications sound of this shortcut to make it more easy

[2021-05-19 04:45] malayilneil opened #219 "The Program Semi-Crashes Through The Process | CloudFront Error"
Hey Bombaridier, Firstly thanks for creating this program I really appreciate the effort you are putting into it. Yesterday onwards I have been getting complaints that the program crashes midway (I feel its because of too much traffic and the server crashes)

Here's the code

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HT

[2021-05-19 04:46] malayilneil commented on #219
The Program I use is the latest one just wanted to let you know.

[2021-05-19 05:05] BumpyKnuckls commented on #215
@cm3913 Can you try out the following:

1. Go through the setup steps again for iOS and ensure nothing is missed.
3. Ensure that url is correct and doesn't have spaces.
4. Ensure that ur config is correct (PUT endpoint, File parameters etc)

[2021-05-19 05:08] BumpyKnuckls commented on #219
@bombardier-gif can keep me sane here, but I don't think we can do much here from the script side since error looks like server side. You can possibly try two things:

1. Try running the script at another time and see if the requests go through
2. Maybe try running with a reduced polling frequency?

[2021-05-19 05:22] cm3913 commented on #215
It was working , I didn't know i had to manually click run
Please mention it in the guide that we need to click on Run for the shortcut to run

Thank You

[2021-05-19 05:59] malayilneil commented on #219
@BumpyKnuckls @bombardier-gif Well the script works most of the time. However, it crashes at essential times. Let's say in my place the slots open at 10:00 am, at 9:59 am the site crashes and this error is brought up. This error will initiate the process from the start (getting OTP from phone and so on). It takes a while to boot back up and by that time the slots will be gone.  I have tried reduce

[2021-05-19 06:36] Nakul93 commented on #219
Ok so @malayilneil this script doesn’t run on a servers. It’s running from your local machine. It’s just automates the entire process of booking that one would manually do it on the portal.
As for your issue, what system are you using?
Also try switching to a different internet(stable) connection and check.
Hope this helps

[2021-05-19 06:49] pradiptabasu opened #220 "Multiple beneficiary booking blocked by CoWIN ?"
**I noticed just now that booking slots for multiple benificary together is not being allowed in CoWIN or Arogya Setu UI.**
Has there been a change in the backend API also ? Any change needed in this script ?

[2021-05-19 07:02] malayilneil commented on #219
Hey @Nakul93

I see now! Well, I'm using an i7 ultrabook with a 200 Mbps airtel connection.  Let me see if it switching to a different internet connection will work? Also, do you think it's a good idea if I add this program to repl.it and run it using their server since it must be much more stable than mine?

[2021-05-19 07:12] Nakul93 commented on #219
You could give it a try with repl if you want to.
And are using windows/linux?
If using windows you can try out this repo https://github.com/SRvSaha/CoWinVaccineSlotFinder

[2021-05-19 07:13] sanket-gupta opened #221 "Multiple Benefeciaries Still Supported?"
The cowin interface was recently updated to allow selection of only 1 beneficiary? Does it mean even the API's wont accept multiple beneficiaries?

Has anybody seen success while  booking more than one beneficiary since 18th May?
Since yesterday there have been instances where the script has tried to book but got a slot no longer available error.

Could this be due to the fact that the request had

[2021-05-19 10:19] darthfishious opened #222 "Error while booking - 'NoneType' object is not iterable"
Getting an error - **'NoneType' object is not iterable** - at the time of finding centers. Centers are showing available in CoWin

My feetype is set to No Preference (0) and captcha automation is off.

[2021-05-19 10:25] subashjain commented on #222
Same message i got

[2021-05-19 10:28] inn-varun-suresh commented on #222
Same message here as well

[2021-05-19 10:29] bombardier-gif commented on #219
As Mr. Bumpy said, this is a rate limiting error. It happens when too many people are using the script
The only way is to try again later.

[2021-05-19 10:29] #219 closed

[2021-05-19 10:36] #215 closed

[2021-05-19 10:43] cm3913 commented on #221
i was able to book multiple beneficiaries today morning

[2021-05-19 11:16] Nakul93 commented on #222
Can you provide with some logs. Everything seems to be working fine at my end

[2021-05-19 11:16] sanket-gupta opened #223 "Delayed Availability Data"
I was tracking a particular center today. My Script was running at an interval of 10 seconds.

On Telegram , I received an update exactly at 16.00 hours that the center was available.
But my script showed the following

=========
Centers available in Mumbai from 20-05-2021 as of 2021-05-19 16:00:48: 0
===================================================================================
Centers avail

[2021-05-19 11:21] sanket-gupta commented on #222
'NoneType' object is not iterable just came for me

I was looking for paid  vaccine centers, any tyoe of vaccine
Centers available in Mumbai from 20-05-2021 as of 2021-05-19 16:49:43: 2
{'center_id': 595085, 'name': 'SAIFEE HOSPITAL', 'address': '15-17 Maharshi Karve Road', 'state_name': 'Maharashtra', 'district_name': 'Mumbai', 'block_name': 'Ward D Corporation - MH', 'pincode': 400004, 'lat': 18

[2021-05-19 11:32] cm3913 opened #224 "getting error with captcha"
================================= GETTING CAPTCHA ==================================================
Captcha Response Code: 200
making request to createTask
could not create task
API error ERROR_KEY_DOES_NOT_EXIST: Account authorization key not found in the system
Task finished with error: ERROR_KEY_DOES_NOT_EXIST
================================= ATTEMPTING BOOKING ===============================

[2021-05-19 11:34] japp2021 commented on #223
Exact same issue with me. I was running at an interval of 5 seconds for COVAXIN in Mumbai. Missed it thrice as 3 centers opened in a span of an hour. It was not able to detect the availability whereas Telegram showed slots in all 3 instances.

[2021-05-19 11:41] vismaiy commented on #222
I had the same error! So now I have set the fee type to paid, just in case it works.

[2021-05-19 11:46] sanket-gupta commented on #222
mine was set to paid, it failed for that also

[2021-05-19 11:46] Abhinav2812 commented on #222
@sanket-gupta can you try adding
`import traceback;print(traceback.format_exc())`
After `print('Exiting script)` in `covid-vaccine-slot-booking.py` and running again? This will give us more insight of where the error is originating

[2021-05-19 12:01] bombardier-gif commented on #223
Thats the nature of the APIs, you can run the script at 1 second freq, but still you will miss out some slots. the data is cached in their API so there is some discrepancy:
read the first para https://apisetu.gov.in/public/marketplace/api/cowin/cowin-public-v2

[2021-05-19 12:01] #223 closed

[2021-05-19 12:09] aryamangiri opened #225 "iOS OTP Automation"
Hi,

I am getting the following error when I try OTP automation:

`
Do you want to enter OTP manually, instead of auto-read?
Remember selecting n would require some setup described in README (y/n Default n): n
clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/8xxxxxxxxx
HTTPSConnectionPool(host='kvdb.io', port=443): Max retries exceeded with url: /ASth4wnvVDPkg2bdjsiqMN/8xxxxxxxxx  (Caus

[2021-05-19 12:13] cm3913 commented on #224
Yes

[2021-05-19 12:14] cm3913 commented on #224
this was saved in jason file , i just restarted the process , everything else worked fine except for the captcha

[2021-05-19 12:18] sanket-gupta commented on #222
Centers available in 110085 from 20-05-2021 as of 2021-05-19 17:46:26: 17
{'center_id': 610022, 'name': 'Dr BSA Hospital DH 4', 'address': 'Sector -VI, Rohini, Delhi - 85', 'state_name': 'Delhi', 'district_name': 'North West Delhi', 'block_name': 'Not Applicable', 'pincode': 110085, 'lat': 28, 'long': 77, 'from': '09:00:00', 'to': '21:00:00', 'fee_type': 'Free', 'sessions': [{'session_id': '79a9aa

[2021-05-19 12:22] malayilneil commented on #221
I was able to book with multiple beneficiaries as well. (Just 30 mins ago)

[2021-05-19 12:23] sanket-gupta commented on #222
this is the code at line 553

        if isinstance(options, bool):
            return False

        options = sorted(
            options,
            key=lambda k: (
                k["district"].lower(),
                k["pincode"],
                k["name"].lower(),
                datetime.datetime.strptime(k["date"], "%d-%m-%Y"),
            ),
        )

[2021-05-19 12:32] sanket-gupta commented on #222
The problem is in the call to viable_options

[2021-05-19 12:34] sanket-gupta commented on #222
![image](https://user-images.githubusercontent.com/4071709/118813336-a53cda80-b8cc-11eb-9755-5031d860c65b.png)

[2021-05-19 12:35] cm3913 commented on #224
got the slot booked next time

[2021-05-19 12:35] #224 closed

[2021-05-19 12:36] sanket-gupta commented on #222
I think fee_type is part of the center object and not session

[2021-05-19 12:38] Nakul93 commented on #222
@sanket-gupta i think you are right, can you remove those lines and check

[2021-05-19 12:55] arcanebloke5888 commented on #192
Thanks @shailesh for your relentless support.

I tried using a json file to set up the process. However, now I see the following error
![image](https://user-images.githubusercontent.com/84184377/118815999-63f9fa00-b8cf-11eb-8d36-d8e834b7027c.png)

Is this happening because a lot of users have already setup the script on heroku?
Any idea to bypass this error?

[2021-05-19 12:58] sanket-gupta commented on #222
"fee_type": center["fee_type"], fixes the issue

[2021-05-19 13:02] BumpyKnuckls commented on #225
You can rerun the script and clear the earlier selected preference of manual OTP and instead chose auto-read.

[2021-05-19 13:02] #225 closed

[2021-05-19 13:03] Nakul93 commented on #222
Great, were you able to book now?

[2021-05-19 13:05] sanket-gupta commented on #222
ha ha! the slots dont wait for us to fix the code!

I created a PR with the fix.

[2021-05-19 13:05] sanket-gupta commented on #222
https://github.com/bombardier-gif/covid-vaccine-booking/pull/226

[2021-05-19 13:10] #222 closed

[2021-05-19 13:16] xxxAng commented on #221
I think the real issue here not with multiple beneficiaries, in busy region API is slowing the dara refresh rate which is causing none of us to book.
Whenever we get notification and captcha prompt by that time the slot is already booked.

[2021-05-19 13:22] aryamangiri commented on #225
I tried that and it didn't work,

[2021-05-19 15:15] xxxAng opened #227 "Why with the new script centers are showing Zero ?"
Why with the new script centers are showing Zero ? Earlier it used to show many.
I see at least there are 3 centers are available from the portal.
They are all booked but 3 centers are available with 0 available capacity.

[2021-05-19 16:18] Nakul93 commented on #227
Which district/pincode are you searching for?

[2021-05-19 16:33] xxxAng commented on #227
@Nakul93  West Bengal (37 district code)
City -  Kolkata (17)
City - North 24 Parganas (22)

[2021-05-19 17:04] Nakul93 commented on #227
@xxxAng Sorry I could only check for COVISHIELD, 18+ and this area doesn't have any centers for the entire week. I've tried for other states and the script seems to work fine
Please check your preferences once before running.

[2021-05-19 17:20] xxxAng commented on #227
@Nakul93  i checked both covaxin also...:( ... see the script should at least return 1
![image](https://user-images.githubusercontent.com/25231713/118856415-ec16da00-b8a4-11eb-9994-ce9d3a258a8f.png)

[2021-05-19 17:42] Nakul93 commented on #227
Have you pulled the latest changes?
Also try with different states&districts

[2021-05-19 17:45] xxxAng commented on #227
Yes 2 hours ago @Nakul93

[2021-05-19 20:50] xxxAng commented on #227
Checked it not working either showing 0 only

On Wed., May 19, 2021, 23:33 nPn, ***@***.***> wrote:

[2021-05-20 03:33] csg09 commented on #209
Issue was fixed with the latest code. Closing the ticket.

[2021-05-20 03:33] #209 closed

[2021-05-20 09:38] bombardier-gif commented on #227
interesting, can you check some other city like bangalore where there are a lot more vaccines added continuously?

[2021-05-20 09:52] xxxAng commented on #227
Will check and let you know

On Thu, May 20, 2021 at 3:08 PM bombardier-gif ***@***.***>
wrote:

[2021-05-20 10:36] xxxAng commented on #227
@bombardier-gif @Nakul93  it seems a bug on both side,

1. I had a registered candidate which appointment i cancelled for dose1, but it seems it kept the previous vaccine type Covishield for the user in cowin portal,
2. Since the script got vaccine type from COWIN its not letting me to select vaccine type for the person.
3. For cancelled candidate its picking Dose Number 2 instead of 1, Thats why

[2021-05-20 10:45] pankajahuja1011 opened #229 "Not booking if 45+ & 18+ open together"
Hi.

For centres that open 18+ and 45+ together like kokilabenin mumbai,
the script detects new centre in count of centres but doesnt book the slot

Is there a way out or help for this?

[2021-05-20 11:04] darthfishious opened #230 "Captcha Error"
Getting error with captcha at the time of booking. Captcha Automation is off.

Captcha Response Code: 200
[Errno 13] Permission denied: 'captcha.svg'

![Error 200 Captcha](https://user-images.githubusercontent.com/84447012/118968215-438e7600-b989-11eb-800d-d115cd768025.png)

[2021-05-20 11:58] xxxAng commented on #230
@darthfishious this is not a script issue this is rather permission issue for writing captcha in ur system,
Please place it to some other drive and make sure u run the EXE in administrator mode.
Not an issue

[2021-05-20 12:42] darthfishious commented on #230
OK thanks @xxxAng . Running it in cmd rather than python 3.9 did the trick.

[2021-05-20 12:42] #230 closed

[2021-05-20 13:28] biscuitdey opened #231 "Captcha -- Is this normal?"
![Screenshot 2021-05-20 at 6 58 19 PM](https://user-images.githubusercontent.com/5380018/118986884-59a63180-b99d-11eb-86cd-b78a5c37d2c7.png)

[2021-05-20 14:11] gitmnj commented on #231
Add tk lib using requirements

[2021-05-20 14:12] xxxAng commented on #231
@gitmnj  use command prompt and install the latest version of TkInker library

"pip install tk"

Close the issue if u are done

[2021-05-20 14:14] gitmnj commented on #231
@xxxAng not my issue

[2021-05-20 14:19] xxxAng commented on #231
@gitmnj  yeah the biscuit guy .. is not taggable .. lol
my bad

[2021-05-20 14:23] sanmil09 opened #232 "Throughtput exceeding error after captcha enter"
Error in booking after captcha enter.

What can be done to resolve?

Booking response code: 500

![image](https://user-images.githubusercontent.com/46552771/118995682-f9b38900-b9a4-11eb-84c8-5a9670bca8ae.png)

[2021-05-20 14:35] NK0211 opened #233 "Dose 1 & Dose 2 separate slot issue"
So, I have been using the code to book slots (a big thank you!!!) before CoWin site introduced separate slots for Dose 1 & Dose 2 .

Now the issue is that, suppose if I want to book a slot for Dose 1 at a particular center and if slots for Dose 2 are available at that center , the script will attempt to book (as it will see that slots are available)  and Captcha slide will appear. But as soon as y

[2021-05-20 14:52] sanmil09 commented on #232
I saw your comment on this being a error of scaling on their side, what can be done from our side?

[2021-05-20 15:07] viveka111 opened #234 "Too much caching of data and very delayed alerts"

[2021-05-20 15:33] #231 closed

[2021-05-20 15:33] biscuitdey commented on #231
Installed tkinter 8.5

[2021-05-20 15:47] Nakul93 commented on #233
Maybe there was slots open for dose1 as well at the centre, but by the time you have entered the captcha it might have got filled.
What error are you getting, can you provide some logs?

[2021-05-20 15:50] chetan4635 commented on #229
I am also facing the same issue when both 18 and 45+ opens it shows that centers are available but it does not book the slot

[2021-05-20 16:36] NK0211 commented on #229
no buddy that is not the case.... i tried multiple times with different location and centers...

[2021-05-20 16:50] NK0211 commented on #233
Hi @Nakul93, I have attached 2 screen shots , one is from CoWin site stating slots available for Covaxin but for Dose 2, whereas Json file for booking is for Dose1, for that the second screenshot of command prompt is attached.
![Cowin](https://user-images.githubusercontent.com/84517473/119018275-8ec07d00-b9b9-11eb-8e4b-4854b3b81ec5.png)
![JSON](https://user-images.githubusercontent.com/84517473/11

[2021-05-20 16:50] BlackRider97 commented on #232
I have fixed this error issue in #216

[2021-05-20 16:54] sanket-gupta commented on #232
Wasnt this an issue on the CowinApi Server?

[2021-05-20 16:58] NK0211 commented on #233
this captcha response 200 is a pinned issue .....is this a similar one??

[2021-05-20 17:05] Nakul93 commented on #233
@NK0211 Are you getting a Booking Response Code? (like resp code 200/400/500)

[2021-05-20 18:00] NK0211 commented on #233
Booking response code : 409

[2021-05-20 18:10] Nakul93 commented on #233
Ok that means all slots are booked. But ideally it shouldn't go through. I've tested it at my end and everything seems to be working fine. Have you pulled in the latest code?

[2021-05-20 18:30] NK0211 commented on #233
oh i was using the old file now loaded the new one its working perfectly fine.....sorry to bother buddy and thanks for the help......i am not much familiar with coding .......just followed steps and did ....thus was unaware ...anyway thanks

[2021-05-20 18:31] rajmishra78 opened #235 "This Script does not show Correct Result"
This Script is not able to show correct information from the CoWIN Portal. It displays the message -> No options are available right now. Next update will be in x seconds although there are many options available which had open slots when viewed through CoWIN Portal.
I think maybe it is because of the changes in the json format from the API call from the recent changes in the CoWIN Portal. Please

[2021-05-20 18:35] #233 closed

[2021-05-20 19:08] bombardier-gif commented on #235
There have always been some disrepancies in the data in script and the cowin portal, its due to the caching of data. read the first para of https://apisetu.gov.in/public/marketplace/api/cowin/cowin-public-v2
Let me know if you think that the script is not showing any slots available at-all

[2021-05-20 19:09] bombardier-gif commented on #234
Thats how the API behaves. People are not able to book even using the portal directly https://apisetu.gov.in/public/marketplace/api/cowin/cowin-public-v2

[2021-05-20 19:09] #234 closed

[2021-05-20 19:10] bombardier-gif commented on #232
This is being rate limited by the server. They use aws dynamodb. Try to reduce the frequency and try after a while

[2021-05-20 19:10] #232 closed

[2021-05-20 19:11] bombardier-gif commented on #229
+1 to what @Nakul93 said. @chetan4635 and @pankajahuja1011 Please check your inputs and the availability and let us know

[2021-05-20 19:14] viveka111 commented on #234
This erratic behaviour is not being observed in telegram bots

[2021-05-20 19:38] Saubhik-Som opened #236 "Fee type : nonetype object is not iterable --> This error is being shown from yesterday, when there is a slot available"

[2021-05-20 19:51] Nakul93 commented on #236
@Saubhik-Som Please pull the latest changes. This error has been fixed.

[2021-05-20 19:52] Saubhik-Som commented on #236
Cool! Trying it again. Thanks!

[2021-05-20 20:14] NK0211 commented on #156
can you help me with copy of your utils.py @mnjit007 @AanchalV @gitmnj @

[2021-05-21 02:11] dasanupam commented on #152
Still getting this issue even when selecting no for captcha autofill.

 Also tried the captcha test script and that also fails. First it shows passed and then again shows the following errors message

Installed tkinter_version: 8.6.9
 ----------------------------------------------------------------------------------------------------
Opening test window. Click on "Quit" to run further tests
x_orde

[2021-05-21 02:12] dasanupam opened #237 "Captcha 200 issue while booking"
Still getting same  issue of Captcha 200 while booking slot even when selecting no for captcha autofill

Also tried the captcha test script and that also fails only for the auto test function. First it shows passed for the mannaul test func and then again shows the following errors message for the auto test function

Installed tkinter_version: 8.6.9
Opening test window. Click on "Quit" to run furt

[2021-05-21 02:46] bombardier-gif commented on #236
@Nakul93 where is the fix?

[2021-05-21 03:44] Nakul93 commented on #236
It was resolved here #222

[2021-05-21 03:51] kondorpa opened #238 "Unwanted code | Data storing in own database"
In util.py file, line number 471 (at present), why are you sending data to your server after booking confirmation ?

`requests.put("https://kvdb.io/thofdz57BqhTCaiBphDCp/" + str(uuid.uuid4()), data={})`

Can someone tell me why this line of code is required?

[2021-05-21 04:08] bombardier-gif commented on #238
This is anonymised counter to know how many people are using this script.
Based on the usage, we merge PRs aggresively/ or hold on.

A major problem with this script is that we cannot test any change, so PRs have to be taken with a grain of salt.

[2021-05-21 04:46] #238 closed

[2021-05-21 04:50] bombardier-gif commented on #237
API error ERROR_KEY_DOES_NOT_EXIST: Account authorization key not found in the system

Typically happens when you did not register for the third party captcha system, you also need to enter the key

[2021-05-21 04:50] #237 closed

[2021-05-21 04:50] #236 closed

[2021-05-21 05:03] xxxAng opened #239 "BUG - For cancelled candidates its always searching for Dose 2 instead of 1"
1. I had a registered candidate which appointment i cancelled for dose1, but it seems it kept the previous vaccine type Covishield for the user in cowin portal,
2. Since the script got vaccine type from COWIN its not letting me to select vaccine type for the person.
3. For cancelled candidate its picking Dose Number 2 instead of 1, Thats why the centers were showing 0 always.
Can we fix this guys

[2021-05-21 05:04] xxxAng commented on #239
![image](https://user-images.githubusercontent.com/25231713/119084853-8c1d5200-b9d0-11eb-939f-c0c924d9dc4d.png)

[2021-05-21 05:05] #227 closed

[2021-05-21 05:05] xxxAng commented on #227
opened a separate bug

[2021-05-21 05:29] shailesh opened #240 "'types.SimpleNamespace' object has no attribute 'captcha_api_choice'"
<img width="1788" alt="Screenshot 2021-05-21 at 10 59 01 AM" src="https://user-images.githubusercontent.com/9050349/119086772-9c125180-ba23-11eb-8513-c978ab583b43.png">

[2021-05-21 05:34] Nakul93 commented on #239
@xxxAng Please mask your ref id as well in the above image

[2021-05-21 05:47] Nakul93 commented on #239
I think its a bug from the CoWIN portal end that you cannot choose another vaccine type. As for the dose, can you change the get_dose_num func in utils.py in the followin manner and check
`def get_dose_num(collected_details):
    # If any person has vaccine detail populated, we imply that they'll be taking second dose
    # Note: Based on the assumption that everyone have the *EXACT SAME* vaccine

[2021-05-21 05:54] dasanupam opened #241 "Facing connection issue and showing request blocked"
o you want to enter OTP manually, instead of auto-read?
Remember selecting n would require some setup described in README (y/n Default n): y
Unable to Generate OTP
403 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>ERROR: The request could not be satis

[2021-05-21 07:45] ithihasmadala commented on #229
Faced the same issue, will look into why it could be happening...

[2021-05-21 07:54] ithihasmadala commented on #240
Have you cloned the latest commit? I just rechecked and there is no problem..

[2021-05-21 08:06] ithihasmadala commented on #220
Script works just fine for multiple beneficiaries as long as both are for a particular dose, vaccine and age group.

[2021-05-21 08:07] ithihasmadala commented on #220
@bombardier-gif This can be closed

[2021-05-21 10:10] shailesh commented on #240
yes

[2021-05-21 10:11] shailesh commented on #240
On mac it is fixed getting error in ubuntu

[2021-05-21 10:12] shailesh commented on #239
yes it is a cowin bug, verified

[2021-05-21 10:23] swahareddy commented on #235
I believe in I am having the same problem.
I have been running the script for 12+hrs, looking for Bangalore Urban and BBMP district in Karnataka
Cowin portal has many options, none shown in the script too.

I have also subscribed to some of the telegram update groups, and have seen 5-6 open slots coming there too since last night, but none of them came on the script

[2021-05-21 10:29] bombardier-gif commented on #241
You got rate limited. Please try after sometime

[2021-05-21 10:29] #241 closed

[2021-05-21 10:31] shailesh commented on #240
this was resolved after re-editing the JSON file not accepting older one

[2021-05-21 10:31] #240 closed

[2021-05-21 10:38] BlackRider97 commented on #240
@bombardier-gif new features should be added with default values so that existing JSON configs should work

[2021-05-21 10:41] darthfishious opened #242 "Not able to detect slots which open up"
It's getting tougher to book slots using this script. It's repeatedly failed to detect recently opened slots for me at least 5 times since yesterday. By the time it detects, the slots are all booked and there are no viable options. Is this only due to the API limitations or something can be done about this? Wasn't facing this issue day before yesterday.

![screenshot](https://user-images.githubuse

[2021-05-21 11:06] xxxAng commented on #239
@Nakul93 @shailesh @bombardier-gif ,
Yes I mentioned its a bug in COWIN, we can fix it in script,
utils.py,
method - collect_user_details

add small piece of code,
`vaccine_statuses = [beneficiary["status"] for beneficiary in beneficiary_dtls]
    vaccine_status = vaccine_statuses[0]

    vaccine_type = vaccine_types[
        0
    ]  # if all([beneficiary['status'] == 'Partially Vaccinated' for b

[2021-05-21 11:09] #239 closed

[2021-05-21 11:22] bheriyaJ opened #243 "Question about request url"
The util py uses storage url of kvdb.io..
Is this being used to build database of mobile number and names of people?

[2021-05-21 11:23] shailesh commented on #242
same here, what is the time frequency you are running?

[2021-05-21 11:24] darthfishious commented on #242
2 seconds

[2021-05-21 11:37] xxxAng commented on #242
same here

[2021-05-21 11:38] xxxAng commented on #242
May be your search criterion didnt match the center opened

[2021-05-21 11:46] darthfishious commented on #242
no the criteria was exactly as per the center details. had been fed specifically to get this center. and that's why you can see that at 16:00:28 it shows 0 centers and 2 seconds later it shows 1 center but it is all booked. it wouldn't even show 1 center if the criteria was different.

[2021-05-21 11:53] xxxAng commented on #242
@darthfishious  to be honest i am also not getting any luck since last 2 days, may be they have cashed the the data more ...
In busy area its not working as expected since last 2 days.
BTW how much interval u r using to pull up the data

[2021-05-21 11:57] darthfishious commented on #242
2 seconds

[2021-05-21 12:04] xxxAng commented on #242
May be we are using it to fast and thats why getting cached data,
I will try with 5 lets see..
Earlier 2 even 1 second yielded me good result but not since last 2 days

[2021-05-21 12:15] xxxAng opened #244 "BREAKING ISSUE - It seems API changed again, Slots not getting identified"
We are getting error for unable to figure out slots,

![image](https://user-images.githubusercontent.com/25231713/119135573-9a895f00-ba0c-11eb-9fe3-c453936df7db.png)

@bombardier-gif

[2021-05-21 12:26] Nakul93 commented on #244
I searched for this pincode but didn’t find this center. Maybe it was a bug on cowin

[2021-05-21 12:31] Nakul93 commented on #242
A trick that might work is to know the exact timing of the centres slot availability. A min or 2 before that just login and set all your preferences and keep but don’t start the search, wait for the telegram notification as soon as it arrives(which is always on time) hit it and you should instantly get the slots.

[2021-05-21 12:32] malayilneil commented on #242
I have the same issue here. An interesting thing that I noticed is that a telegram bot noticed the slots had opened while the program didn't. I know the cached data issue but why does the telegram bot get an alert but we didn't? Is it because they are using different API's which is not the case for us?

I'm using 1-second intervals. Worked yesterday, the program did not recognize it at all today.

[2021-05-21 12:34] xxxAng commented on #244
I checked now, nevermind... it was a data glitch from COWIN.

[2021-05-21 12:34] #244 closed

[2021-05-21 12:40] darthfishious commented on #242
@Nakul93, unfortunately in pune, the timings are very erratic. so it's not possible to be ready always. which is why i was trying the more reliable options in mumbai. but then i faced this issue today.

[2021-05-21 12:42] vesan83 opened #245 "Booking responce code 500"
can somone please help why i am getting these errors ?

ERROR 1

![error1](https://user-images.githubusercontent.com/2079099/119138808-e9141900-ba5f-11eb-8fe7-7887568e0c71.jpg)

ERROR 2

================================= GETTING CAPTCHA ==================================================
Captcha Response Code: 200
x_order_2: colinear!
x_order_2: colinear!
colinear!
colinear!
x_order_2: colinear!
x_

[2021-05-21 12:58] kishansinght opened #246 "For pincode option the index table is not shown. Can we enter the pincode itself?"
Pincode table not shown

[2021-05-21 13:12] gitmnj commented on #242
Same happened with me the slots didn't showed up only and I kept the frequency at 3 still no catcha poped up

[2021-05-21 13:38] sanket-gupta commented on #245
These are issues on the Cowin portal.
We cannot do much about this.
Keep trying

[2021-05-21 13:39] deveshmanish opened #247 "Booking not going through even though options match"
The booking is not going through even though the options are matching, it just keeps on repeating the loop of no viable options.

===================================================================================
Centers available in 249403 from 22-05-2021 as of 2021-05-21 19:06:25: 0
Centers available in 249407 from 22-05-2021 as of 2021-05-21 19:06:25: 2
Centers available in 249401 from 22-05-2

[2021-05-21 14:21] BumpyKnuckls commented on #245
+1 @sanket-gupta These are issues with Cowin apis itself. Unfortunately we can't do much here.

[2021-05-21 14:21] #245 closed

[2021-05-21 14:30] jeeiee opened #249 "Add AI Assisted AutoCaptcha Feature"
Thanks.

Add AI-Assisted AutoCaptcha Feature like  in https://github.com/SRvSaha/CoWinVaccineSlotFinder

or try this
https://github.com/ptigas/simple-captcha-solver

[2021-05-21 14:39] kishansinght commented on #246
It worked by entering Pincode in place of Pincode index.
Thanks!!

[2021-05-21 14:39] #246 closed

[2021-05-21 14:41] kishansinght commented on #247
What was the minimum slots u chose while running the script? It must have been more than 2. Thats why it didnt take it.
You can reduce it to 1 and run it
This one: Filter out centers with availability less than ? Minimum 1 :

[2021-05-21 14:48] bombardier-gif commented on #249
This looks cool!

[2021-05-21 14:50] bombardier-gif commented on #243
1. it uses kvdb to store the OTP for auto-read
2. the TTL is 3 minutes so it gets auto deleted.

[2021-05-21 14:50] #243 closed

[2021-05-21 15:15] deveshmanish commented on #247
I had attached the json file for reference purpose only, I had selected 2.

[2021-05-21 16:14] KamleshkumarShah opened #250 "Error : Can't connect to server for this app"
From last few hours I am getting following error. Not sure what is wrong here. Attached the snapshot.

![image](https://user-images.githubusercontent.com/84586208/119167205-35218680-ba7d-11eb-933a-3de6dd92f157.png)

<img width="955" alt="error" src="https://user-images.githubusercontent.com/84586208/119167611-a19c8580-ba7d-11eb-87ca-91b3b0810470.PNG">

[2021-05-21 16:16] darthfishious commented on #250
getting the same. i think it's a cowin server issue.

[2021-05-21 16:17] BlackRider97 commented on #250
I am also getting same error

[code]

Looks Rate-Limiting on OTP generation is enabled !

[2021-05-21 16:18] BlackRider97 commented on #250
@bombardier-gif this looks serious issue  to me

[2021-05-21 16:25] darthfishious commented on #250
seems like a problem from cowin's end. everytime this issue occurs with the script, i cannot request for otp from cowin website either. even using a phone number that hasn't been used for more than 24 hours on cowin. also, at the same time, i can't do a search for centers on the main cowin homepage either. all these things start working again when the script is working fine.

[2021-05-21 16:52] xxxAng commented on #250
Same with me ...

[2021-05-21 17:00] Nakul93 commented on #249
This would be a great idea.

[2021-05-21 17:03] shailesh commented on #250
same with me I was thinking this is from **kvdb**, because I was able to get OTP back to back but was not able to sync

[code]

[2021-05-21 17:08] shailesh commented on #249
This is amazing:
https://github.com/SRvSaha/CoWinVaccineSlotFinder/blob/master/CoWin.Core/Auth/Captcha.cs

[2021-05-21 17:08] xxxAng commented on #250
@shailesh no its from OTP api, its from cloudfront ... :( if they implement 2 minutes token then all bots are ruined.

[2021-05-21 17:34] bombardier-gif commented on #250
Yeah. Looks like some kind of rate limiting has been imposed. Fingers crossed

[2021-05-21 17:45] Abhinav2812 commented on #249
Here's the python version: https://github-dotcom.gateway.web.tr/truroshan/CoWin-Termux/blob/main/cowin.py#L215

[2021-05-21 18:15] shailesh commented on #249
@Abhinav2812 Thanks for sharing, can you please create a PR with code changes. I have tested working fine.

[code]

<img width="1792" alt="Screenshot 2021-05-21 at 11 43 48 PM" src="https://user-images.githubusercontent.com/9050349/119180932-92720380-ba8e-11eb-9289-1e1ddc6f304c.png">

<img width="1792" alt="Screenshot 2021-05-21 at 11 43 37 PM" src="https://user-images.githubusercontent.com/905034

[2021-05-21 18:18] shailesh commented on #249
[code]

[code]

[2021-05-21 18:20] malayilneil opened #251 "Protected API"
Hey, @bombardier-gif  I saw this guy uses CoWIN Protected API. Since Protected API has no cache and would be very useful for people in busy cities, maybe you guys could collaborate https://github.com/Suchismit4/Co-Win-Bot and bring the API to this bot.

[2021-05-21 18:53] shailesh commented on #249
I'll create a PR, have made the changes and tested it, will test a bit more

[2021-05-21 19:03] bombardier-gif commented on #251
Thanks for the info @malayilneil

[2021-05-21 19:50] Nakul93 commented on #249
How fast does the captcha works?

[2021-05-21 20:00] malayilneil commented on #242
@Nakul93  any other suggestions you have in mind?

[2021-05-21 20:02] shailesh commented on #249
micro/mili seconds

[2021-05-21 20:05] xxxAng commented on #249
@shailesh  ..  will love to see your PR.. thanks let us know  (y)

[2021-05-21 20:07] Nakul93 commented on #242
Check the telegram alerts and look for a pattern, most of the times the slots for a particular centre open within a specific time bracket. Try to analyse that and accordingly run the script. Plus if the slots open at a random time there won’t be much traffic and you should be able to book it quickly.

[2021-05-21 20:15] shailesh commented on #249
should I replace captcha_builder_auto and this to captcha_builder -- > manul or add another function for automation. I feel like captcha_builder_auto with api2captcha is costly and barely people use it. we should replace this one

[2021-05-21 20:22] Abhinav2812 commented on #249
I think we should keep it, cowin might change their captcha delivery format
in future

On Sat, 22 May, 2021, 1:45 am Shailesh Singh, ***@***.***>
wrote:

[2021-05-21 20:22] xxxAng commented on #249
@shailesh  3rd party captcha no one uses it tbh, its costly and secondly it takes 5-7 seconds to solve by that time slots get booked already.
Its upto you, keep it or remove it.

[2021-05-21 20:24] Abhinav2812 commented on #249
I've used it and it has worked for me multiple times in a metro with single covaxin centre availability in my district

[2021-05-21 20:24] xxxAng commented on #249
@shailesh  keep it then, i think it will take more time for u to replace rather adding one more method to resolve it

[2021-05-21 20:26] Abhinav2812 commented on #249
Also, anti captcha has a trial credit of upto 0.1 dollars that will give you enough solves for booking multiples times over :)

[2021-05-21 20:27] xxxAng commented on #249
Hi @Abhinav2812  how much time it took for u to solve captcha 5 6 seconds ????
In my metro city it gets booked within 3 4 seconds ... :(

[2021-05-21 20:28] Abhinav2812 commented on #249
Approx 10 seconds, atb, shouldn't be an issue now :)

[2021-05-21 20:29] shailesh commented on #249
want to remove few commits from #252, is there a way to cherry-pick commits?

[2021-05-21 20:34] xxxAng commented on #249
Didn't work for me. 10 seconds to precious...
May i ask u avinabh, which metro city u were lucky to get it through?

On Sat., May 22, 2021, 01:58 Kumar Abhinav, ***@***.***>
wrote:

[2021-05-21 20:35] shailesh commented on #249
even for it doesn't, for a metro city where there is more traffic on API calls, this is useless in my view. Btw I've removed those and their dependiencies

[2021-05-21 20:35] Abhinav2812 commented on #249
Few choices:-
Revert the commits you want to remove; they'll be present in history
Close and reopen a new request
Use git rebase to drop the commits in the PR branch, and do a force push. Never tried, but should work in principle

[2021-05-21 20:37] Abhinav2812 commented on #249
Sorry I prefer not to answer, all I can say is it's among one of the most badly affected ones

[2021-05-21 20:37] shailesh commented on #249
Take a look at this and test in the meantime we will try to merge this tomorrow

https://github.com/shailesh/covid-vaccine-booking/blob/e247d2fc5f03ff579970666e1b2a382374ad80e3/src/captcha.py

[2021-05-21 20:39] shailesh commented on #249
take a look at this, we will merge this after some extensive testing since this is a major change. I've been testing all the scenarios happy/sad works fine as expected

https://github.com/bombardier-gif/covid-vaccine-booking/blob/823a05ad5228902a4c0db0984930c15b91d0acad/src/captcha.py

[2021-05-21 21:07] shailesh commented on #249
Here is the PR,  guys please help test this out. https://github.com/bombardier-gif/covid-vaccine-booking/pull/253

so many slots available in Jharkhand in any district.

[2021-05-21 21:09] xxxAng commented on #249
someone else pls test, left all quota in all my phone.
It also late to get friend's phone to test it.

[2021-05-22 02:08] shailesh commented on #249
These changes are mind-blowing I would say, OMG Apollo in Bangalore opened 20 slots and I was able to book from two laptops in milli seconds. This is fantastic

[2021-05-22 02:19] dimpuknath opened #254 "Can't differenciate between dose1 and dose2 for open slots and hits always dose2 slots which are most of the time open"
KANVA DIAGNOSTIC1 PAID
KANVA DIAGNOSTIC Dr Raj Kumar Rd Rajajinagar Bengaluru - 560010, BBMP, Karnataka, 560010

COVISHIELD: ₹1000
247
COVISHIELD
Dose1: 0Dose2: 247.  <<------------- Always going for it and unnecessary need to enter  Captcha
Age 18+

[2021-05-22 02:34] shailesh commented on #251
#253 will close this issue, where captcha is now fully automated and works within fracton of Mirco second

[2021-05-22 02:36] shailesh commented on #251
The ones that we are using are also protected ones not public

[code]

[2021-05-22 03:47] Nakul93 commented on #249
Great job @shailesh

[2021-05-22 03:59] dimpuknath commented on #254
Issue got resolved with the latest git code. Thanks!

[2021-05-22 03:59] #254 closed

[2021-05-22 05:36] KamleshkumarShah commented on #250
The issue seems to be resolved now and it has been working fine for the
last 10 hours. Thank y ou.

On Fri, May 21, 2021 at 11:04 PM bombardier-gif ***@***.***>
wrote:

--
Regards,
Kamlesh Shah

[2021-05-22 05:48] #250 closed

[2021-05-22 05:56] shailesh commented on #221
yes supported, API supports list of beneficiaries

[2021-05-22 06:01] dasanupam opened #255 "Add option for reschedule of appointments"
While the script runs at time some slots are booked which dont give vaccination and since we dont have any reschedule feature we are not able to do the booking again . Also the slot doesn't cancel manually once booked and the slot timing has passed.

[2021-05-22 06:10] shailesh commented on #255
I would prefer manually canceling and then scheduling since there will be enough change in logic for this because rescheduling doesn't work straight forward. I the scheduled appointment is in an active session say today this can not be canceled until this is rescheduled for some other day and then canceled.

Doing manually is best otpions

[2021-05-22 06:13] BumpyKnuckls commented on #255
+1 @shailesh Rescheduling logic is going to be complex and don't think at this time we intend to support it.

[2021-05-22 06:13] #255 closed

[2021-05-22 06:14] BumpyKnuckls commented on #251
Closing this since #253 has been merged. Thanks a lot @shailesh for doing it :)

[2021-05-22 06:14] #251 closed

[2021-05-22 06:22] BumpyKnuckls commented on #249
Thanks a lot @shailesh for doing it. It's a big value add. While I am closing this issue, since the objective has been met, please feel free to continue the discussion here if you want to :)

[2021-05-22 06:22] #249 closed

[2021-05-22 06:26] BumpyKnuckls commented on #247
@deveshmanish Its possible that by the time, the script made a request to book one of the 2 the open slots, they got already filled and hence it proceeded forward with the search. You should continue trying and hopefully we are able to get a slot for you when a bigger batch of slots opens up. Also to increase your chances of getting a slot, you should consider pulling the latest changes as a recen

[2021-05-22 06:27] bilal-fazlani opened #256 "[Question] How does auto captcha work?"
Hi,

Could someone please explain how does automatic captcha resolution works?

[code]

[2021-05-22 06:29] BumpyKnuckls commented on #256
@shailesh deferring this to you :)

[2021-05-22 06:31] BumpyKnuckls commented on #220
Thanks @ithihasmadala closing this now.

[2021-05-22 06:31] #220 closed

[2021-05-22 06:33] ashwin-agarwal opened #257 "Appointments booked using Bot getting cancelled"
All appointments booked through the bot are getting cancelled in less than 5 mins. Noticed this three times.

[2021-05-22 06:33] shailesh commented on #256
code is a bit readable and understandable where we get the captcha in JSON which contains SVG data. now we just go ahead and do the parsing since SVG has HTML tags later we encode the whole string after parsing. we do encoding to get the correct captcha index.

Few references to read more about it.
https://www.scrapehero.com/how-to-solve-simple-captchas-using-python-tesseract/
https://gist.github.

[2021-05-22 06:35] xxxAng commented on #249
@shailesh  wonderful and excellent job bro... thanks you saved lot of time for us and proud of you guys

[2021-05-22 06:35] shailesh commented on #257
This is not an issue, this is where covid center are canceling and priorities for front line workers like medical staff, employees, ..... call 104 number to understand more. At least this is happening in Bangalore. They open the slot and then slots are canceled

[2021-05-22 06:35] BumpyKnuckls commented on #221
@sanket-gupta as tested by @ithihasmadala in #220, quoting his comment:

Could it be that your beneficiaries don't satisfy the above criteria?

[2021-05-22 06:42] bilal-fazlani commented on #256
Interesting. Thanks for quick response.

How does the parsing happen? The resources you point to refer to OCR mechanism using PyTesseract. But I don't see that imported here..

Does this mechanism use OCR? and what is the role of model.txt?

[2021-05-22 06:44] BumpyKnuckls commented on #257
Thanks a lot @shailesh for taking this one. +1. In cases where slots are cancelled, its most probably the case that either they are opened for testing only to realise that people have actually gone ahead and booked those slots or else they are prioritising it for other set of folks (like medical staff etc).

In fact the first time that I got a slot and showed up at the centre only to realise that

[2021-05-22 06:44] #257 closed

[2021-05-22 06:44] shailesh commented on #256
Parsing via bBeatifulsoup library

wanna learn more about it learn here; https://automatetheboringstuff.com/chapter11/

[2021-05-22 06:47] shailesh commented on #257
Try paid ones

[2021-05-22 06:49] shailesh commented on #145
@bombardier-gif close this

[2021-05-22 06:49] ashwin-agarwal commented on #257
All 3 times paid ones got cancelled.

[2021-05-22 06:50] shailesh commented on #201
closing this #253

[2021-05-22 06:50] #201 closed

[2021-05-22 06:50] bilal-fazlani commented on #256
Ok. thanks!

[2021-05-22 06:51] shailesh commented on #257
Try contacting covid helpline number or  The Cowin technical helpline: 0120 447 3222

This has nothing to do with the script. I've gone through the same thing.

[2021-05-22 06:58] bilal-fazlani commented on #256
this may be a stupid question, but shouldn't `ENCODED_STRING = re.findall("([A-Z])", ENCODED_STRING)` be using `[a-zA-Z)` if this is regular expression?
@shailesh

[2021-05-22 07:00] BumpyKnuckls commented on #145
+1 Dont think this is needed with the ease of automated captcha ;)

[2021-05-22 07:00] #145 closed

[2021-05-22 07:00] shailesh commented on #256
@pallupz would you mind adding this too?

This is a question because your readme highlighted this line

`We are getting all kinds of attention now - which I do not want to handle. So there won't be any additional commits to this project. It has been put on indefinite hold.`

[2021-05-22 07:03] shailesh commented on #145
got it :)

[2021-05-22 07:08] shailesh commented on #242
this is suggested and great idea to understand the slot opening patterns

[2021-05-22 07:09] shailesh commented on #190
closing this for now, as there are not many requirements related.

[2021-05-22 07:09] #190 closed

[2021-05-22 07:13] pallupz commented on #256
@shailesh while this is very interesting, I won't be implementing automation for OTP or Captcha in our repo as a matter of principle.

[2021-05-22 07:14] shailesh commented on #256
This is the functional way of doing this. Try and test with some more complex SVGs. I've done extensive testing did not find any loophole here.

Try to understand in the loop next to this line, we get the encoded string, and then join this way we get the actual index.

[2021-05-22 07:28] bilal-fazlani commented on #256
Ok will try to test it

[2021-05-22 07:28] #256 closed

[2021-05-22 07:29] shailesh commented on #235
check Cowin after login, since there is cache API without login, which they call public api.
Also, join this telegram channel to understand the time for opening slots so that you do not hit unwanted APIs calls for fetching info

https://t.me/joinchat/Yc5M1kUeCKc2ZGY1

[2021-05-22 07:31] shailesh commented on #198
this issue closes with Automated the boring captcha #253

[2021-05-22 07:32] shailesh commented on #210
#190

[2021-05-22 07:34] #165 closed

[2021-05-22 07:36] shailesh commented on #193
#253 #256 this will resolve your issue. you do not have to solve captcha with anti-captcha anymore. this was a pain and we have resolved and completely removed this feature.

[2021-05-22 07:44] NK0211 commented on #250
is this issue resolved...cauz  i am still facing it @BumpyKnuckls @KamleshkumarShah ??

[2021-05-22 07:48] shailesh commented on #250
what is your refresh frequency rate try 7 or more or another way is to get instant updates on [telegram](https://t.co/hI6WoWsUB3?amp=1), follow the patterns of slots opening by pattern, and then proceed for booking. Avoid unwanted API calls. this will save the Cowin server from going down.

[2021-05-22 07:49] japp2021 opened #258 "Issue with OTP fetch. please help"
Please help. I am getting some error while trying to fetch the OTP automatically. Below is the log

clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/xxxxxxxxxxxxxx
Requesting OTP with mobile number xxxxxxxxxxxxxxxx..
Unable to Create OTP
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONT

[2021-05-22 07:51] gitmnj commented on #250
@shailesh it is showing error to me while automating the captcha it shows
============> Trying Choice # 0 Center # 563455, Slot #10:00AM-11:00AM
Booking with info: {'beneficiaries': ['53877933221050'], 'dose': 1, 'center_id': 563455, 'session_id': '971e112a-fe18-4877-8a38-882bbdf329ac', 'slot': '10:00AM-11:00AM'}
name 'captcha_automation_api_key' is not defined
Retryin in 5 seconds

[2021-05-22 07:51] shailesh commented on #258
wait for some time and try again. maintain refresh rate 7 sec or more.

[2021-05-22 07:52] shailesh commented on #250
pull the latest code and try generating a new JSON again.

[2021-05-22 07:53] gitmnj commented on #250
not working using the latest code

[2021-05-22 07:54] shailesh commented on #250
got something wrong after resolving the conflicts
@bombardier-gif

[2021-05-22 07:55] gitmnj commented on #250
can you share your repo to me at https://t.me/manoj1620

[2021-05-22 07:56] shailesh commented on #250
working just check, reviewed the code again

[2021-05-22 07:56] gitmnj commented on #250
any new requirements ?

[2021-05-22 07:57] gitmnj commented on #250
can you please tell the steps

[2021-05-22 07:57] shailesh commented on #250
check requirements file, also captcha_automation_api_key this not be in the utils, this is removed

[2021-05-22 07:58] shailesh commented on #250
select y and default is yes for auto captcha. n for manual pop up for captcha

[2021-05-22 07:58] abhi24ca opened #259 "Captcha_automation_api_key is not defined error."
Hi
While trying the new auto captcha I got the error captcha_automation_key not defined on my Windows 10. However the auto captch works flawlessely in my another Windows 7 machine, but not working in W10. Attaching the SS for reference.
![IMG_20210522_125259](https://user-images.githubusercontent.com/84614107/119219136-95f2a280-bb01-11eb-9dec-91815348c6ff.jpg)

[2021-05-22 08:00] shailesh commented on #259
captcha_automation_key

this dependency is removed from utils and is no more required. pull the latest code say yes for auto captcha. AI solves the captcha

#249 #253

[2021-05-22 08:00] shailesh commented on #259
pull the latest code

[2021-05-22 08:02] shailesh commented on #259
got it, something went wrong while resolving conflicts by @BlackRider97

c.c @bombardier-gif

[2021-05-22 08:02] abhi24ca commented on #259
Hi
I tried just 10 minutes back with latest code only and the last update is 2 hrs ago. @shailesh

[2021-05-22 08:04] shailesh commented on #259
I got it.

@bombardier-gif please revert back

https://github.com/bombardier-gif/covid-vaccine-booking/pull/216

c.c @BlackRider97

[2021-05-22 08:10] NK0211 commented on #250
hi @shailesh its working fine with refresh rate of 7 and above...thanks....

[2021-05-22 08:17] gitmnj commented on #259
@shailesh @BumpyKnuckls @bombardier-gif not working for me too pulled the new repo 2 mins ago and tried giving me the same error

[2021-05-22 08:18] shailesh commented on #259
, captcha_automation_api_key, captcha_api_choice from utils.py until there is another merge

[2021-05-22 08:21] shailesh commented on #259
@BumpyKnuckls @bombardier-gif

@gitmnj please raise a PR after this

booking_status = book_appointment(request_header, new_req, mobile, captcha_automation, captcha_automation_api_key, captcha_api_choice)

to

`booking_status = book_appointment(request_header, new_req, mobile, captcha_automation)
`

, captcha_automation_api_key, captcha_api_choice

[2021-05-22 08:23] shailesh opened #260 "Remove unwanted params"
https://github.com/bombardier-gif/covid-vaccine-booking/blob/c03b9671bc6727766d57b87de3c5f460b8b50bae/src/utils.py#L663

to

`booking_status = book_appointment(request_header, new_req, mobile, captcha_automation)
`

gone wrong by @BlackRider97 while resolving conflicts

will resole #259

[2021-05-22 08:28] malayilneil opened #261 "Alternatives to using https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/99XXXXXXXX"
Hey, @bombardier-gif Can we make an alternative link, that we can use instead of this since this link crashes all the time? Maybe something paid for worry-free usage? So those who want free can use one link and the paid users can use another one?

I'm getting 403 Cloudfront Error for 6 hours straight now. I'm trying to help people get slots but it's failing due to this.

[2021-05-22 08:31] xxxAng commented on #261
This is not for this, this is from COWIN, i think there is too many bot requests goin on...
COWIN APis are hosted in cloudfront

[2021-05-22 08:34] shailesh commented on #261
set your frequency to 7 seconds or more and you won't find this issue.

Another way is join a telegram t get updates, see the patterns and then hit the API within that time frame so that we are not bombarding Cowin server for OTP

[2021-05-22 08:36] malayilneil commented on #261
@shailesh where can I change the frequency to 7? are you talking about changing refresh freq to 7? Sorry for the dumb question

[2021-05-22 08:37] xxxAng commented on #261
@shailesh i think one of the reason also, many noobs are trying their luck and they are running multiple instances of same bot from same machine....
request all to run 1 instance per 1 ip, running multiple not gonna get extra chances if using same ip

[2021-05-22 08:38] shailesh commented on #261
vaccine booking JSON file

"refresh_freq": 7,

[2021-05-22 08:38] shailesh commented on #261
I agree

[2021-05-22 08:49] #261 closed

[2021-05-22 08:53] abhi24ca opened #262 "Option to select yes-please or no in automated booking."
Hi
I am using this script due to auto captcha functionality. I know the slot opening time at my center and i want to manually select the center rather than yes-please command. Here centers open one by one at the interval of 10 to 15 sec. and I dont want to book first center. So please allow option to select yes-please or no for the booking. I know this defeat the purpose of automation of this scri

[2021-05-22 08:57] bombardier-gif commented on #260
Done

[2021-05-22 08:58] bombardier-gif commented on #260
@shailesh PTAL at the latest change

[2021-05-22 08:58] #260 closed

[2021-05-22 08:59] janghaludu opened #263 "A working CAPTCHA solver in Python that you guys can probably integrate with this project"
Have just published a working CAPTCHA solver in Python here => https://github.com/janghaludu/cowin-captcha
Thought you guys might be interested.

Cheers

[2021-05-22 08:59] bombardier-gif commented on #259
Made the changes. Please take a look again.
And also please be careful while raising PRs. We have no way to test the changes, so the only way is when someone fail when real slots open.

[2021-05-22 08:59] #259 closed

[2021-05-22 09:02] abhi24ca commented on #259
Will test it now

[2021-05-22 09:07] shailesh commented on #263
#249 #253

[2021-05-22 09:08] shailesh commented on #262
it's there with y and n
y for auto and n for manul window pop up

[2021-05-22 09:11] abhi24ca commented on #262
Shailesh I got mail with yr reply but cant trace it here. The thing u telling is for auto captcha not for center selection.

[2021-05-22 09:16] BumpyKnuckls commented on #198
+1

[2021-05-22 09:16] #198 closed

[2021-05-22 09:16] #210 closed

[2021-05-22 09:20] BumpyKnuckls commented on #250
Glad that its sorted. Thanks @shailesh for chipping in here with help.

[2021-05-22 09:26] BumpyKnuckls commented on #263
Thanks a lot @janghaludu for sharing it with us. Appreciate the pointer here :). @shailesh introduced something similar in the repo today morning :)

[2021-05-22 09:26] #263 closed

[2021-05-22 09:28] BumpyKnuckls commented on #258
+1 would request to try after sometime or change the refresh freq.

[2021-05-22 09:30] pradeepprabhakar opened #264 "Anti-Captca option"
Not getting the option to add the anti-captca key after the latest pull

[2021-05-22 09:32] BumpyKnuckls commented on #264
@pradeepprabhakar @shailesh introduced an enhancement via #253 removing dependency on anti-captcha and thus cutting down the time to read captcha significantly.

[2021-05-22 09:34] BumpyKnuckls commented on #264
Hence you no longer would need anti-capctcha :) . Closing this for now. Please feel free to reopen it if you have more questions

[2021-05-22 09:34] #264 closed

[2021-05-22 09:37] janghaludu commented on #263
Ah ok cool :) Thank you guys too for fighting the good fight.

[2021-05-22 09:37] KamleshkumarShah commented on #250
I am seeing it again now since last two hours.

On Sat, May 22, 2021 at 1:15 PM NK0211 ***@***.***> wrote:

--
Regards,
Kamlesh Shah

[2021-05-22 09:49] Nakul93 commented on #262
For temporary fix you can change auto_book="no" and add/change the following lines in src/util.py after line 580 :
[code]

[2021-05-22 09:52] abhi24ca commented on #262
@bombardier-gif Thanks wilk do that, hopefully it will give both the option to choose from yes or no as its in pallupz repo.

[2021-05-22 09:57] dasanupam opened #265 "When connecting wifi and trying to get otp the error comes but works when connected to mobile hotspot"
Unable to Generate OTP
403 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>ERROR: The request could not be satisfied</TITLE>
</HEAD><BODY>
<H1>403 ERROR</H1>
<H2>The request could not be satisfied.</H2>
<HR noshade size="1px">
Request blocked.
We can't

[2021-05-22 09:58] bombardier-gif commented on #265
Yes. you seem to have been rate-limited. Try with lesser frequency. after sometime

[2021-05-22 09:58] #265 closed

[2021-05-22 10:02] japp2021 commented on #258
Increased the refresh rate from 4 to 7 seconds but the problem still persists intermittently.

[2021-05-22 10:16] shailesh commented on #250
wait for some time, close the script. this is behaviour from the Cowin server. This will be resolved.

[2021-05-22 10:23] dasanupam commented on #265
@bombardier-gif  but the api page tells that 100 api calls per 5 min per ip is the limit . And I am having 3 places and polling in 20 sec but still getting rate limited

[2021-05-22 10:24] xxxAng commented on #250
I checked it seems they have put some rate limitations..
And its not based on ip.. 😔
7 seconds is not even safe now

On Sat., May 22, 2021, 15:46 Shailesh Singh, ***@***.***>
wrote:

[2021-05-22 10:35] chetan1989-cloud commented on #258
Yeah even I am facing this, I think they have changed the thresholds or something for rate limit?

[2021-05-22 10:46] viveka111 opened #266 "Token expiring prematurely"

[2021-05-22 10:48] officialrahulmandal opened #267 "Issue when script try to auto create the OTP (sometimes same behaviour can be seen in the first try for OTP)"
clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/7048948811
Requesting OTP with mobile number 7048948811..
Unable to Create OTP
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>ERROR: The request could not be satisfied</TITLE>
</HEAD><BODY>
<H

[2021-05-22 10:50] officialrahulmandal commented on #266
i faced the same issue added logs https://github.com/bombardier-gif/covid-vaccine-booking/issues/267

[2021-05-22 10:53] officialrahulmandal commented on #258
For me it's set to 8 sec facing the same issue.

https://github.com/bombardier-gif/covid-vaccine-booking/issues/267

[2021-05-22 11:06] RonakTotla opened #269 "Unable to create OTP"
![error](https://user-images.githubusercontent.com/1598504/119224375-bf202c80-bb1b-11eb-9c5e-a2a85cd02d24.png)

[2021-05-22 11:06] officialrahulmandal commented on #258
Guys , I think it's because of this centre named KANVA DIAGNOSTIC1 . what it does is within fraction of seconds it try to book almost 30-40 times as i can see in the logs and i guess that's the reason we are getting blocked for certain period of time from cowin api's.

just a small observation i did . open for suggestions.

[2021-05-22 11:06] officialrahulmandal commented on #267
Guys , I think it's because of this centre named KANVA DIAGNOSTIC1 . what it does is within fraction of seconds it try to book almost 30-40 times as i can see in the logs and i guess that's the reason we are getting blocked for certain period of time from cowin api's.

just a small observation i did . open for suggestions.

[2021-05-22 11:07] #269 closed

[2021-05-22 11:24] bombardier-gif commented on #267
You got rate limited. Try after a while and use a lesser frequency

[2021-05-22 11:24] #267 closed

[2021-05-22 11:25] bombardier-gif commented on #266
I think both are different issues @viveka111 can you please elaborate by what do you mean by expiring prematurely?

[2021-05-22 11:26] viveka111 commented on #266
Meaning it shows token invalid midway

[2021-05-22 11:29] vishalv26 commented on #266
Problem with the systems of cowin. You can safely ignore

[2021-05-22 11:30] mustafabhanpura commented on #266
Unable to Generate OTP
403 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML><HEAD><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>ERROR: The request could not be satisfied</TITLE>
</HEAD><BODY>
<H1>403 ERROR</H1>
<H2>The request could not be satisfied.</H2>
<HR noshade size="1px">
Request blocked.
We can't

[2021-05-22 11:34] vishalv26 commented on #266
Please close this and PIN this as known issue.

[2021-05-22 11:38] dasanupam opened #270 "Rate limit issue or token getting invalid prematurely"
My refresh frequency is 25 sec and i am constantly facing this issue only after 2-3 polls . I think there is come upgrade done on cowin side which is blocking automation

 Successfully requested OTP for mobile number xxxxx at 2021-05-22 17:02:12.195487..
Enter OTP (If this takes more than 2 minutes, press Enter to retry): xxxxx
Validating OTP..
Token Generated: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9

[2021-05-22 11:43] slomogangsta commented on #258
I think it's an issue on the Co-win API itself. We are not able to manually request for OTP's either.
![image](https://user-images.githubusercontent.com/42892043/119225379-05c45580-bb21-11eb-85e3-2cd2025eca4c.png)

[2021-05-22 11:44] RonakTotla commented on #267
Tried it with lesser frequency but still same issue persists.
The script tries to regenerate OTP again but continuously fails.
@bombardier-gif

[2021-05-22 11:44] slomogangsta commented on #266
![image](https://user-images.githubusercontent.com/42892043/119225400-33a99a00-bb21-11eb-84f3-bf3ca5920085.png)
I agree with @vishalv26

[2021-05-22 11:47] slomogangsta commented on #270
Seems like an issue with Co-WIN API itself
![image](https://user-images.githubusercontent.com/42892043/119225468-91d67d00-bb21-11eb-97a2-c64f367fc56e.png)

[2021-05-22 11:49] dasanupam commented on #270
No use different wifi or mobile hotspot and u can login, I think the IP is getting blocked for some time

[2021-05-22 11:51] dasanupam commented on #270
Also my update frequency is 25 sec so it should not hit the throttle limit

[2021-05-22 12:13] kondorpa commented on #242
same problem i am also facing. I am running it in 10 sec, and there no way that slots can be filled with in 10 seconds. 20 centers opened up and i could get none. it even did not attempt to book any slot.

[2021-05-22 12:15] darthfishious commented on #266
it's not a cowin issue. it's a rate limiting issue due to which the ip gets blocked for some time and one cannot even access cowin website during this blocked time from that IP.  but Cowin website works perfectly fine if used from another IP at the same time.

[2021-05-22 12:17] viveka111 commented on #266
Yes i think these people are barbarians

[2021-05-22 12:22] darthfishious commented on #270
yes it doesn't seem to matter if the refresh rate is set to 2 or 10 or 25. at some stage it gets blocked. it's random for me. sometimes a 2 second refresh rate doesn't get blocked for 8 minutes while sometimes a 7 second refresh rate gets blocked after 3 minutes. not sure what is triggering it.

[2021-05-22 12:33] shailesh commented on #270
wait for some time, close the script do not bombard the Cowin server, because of too many people running. imagine about their server load.

the best way is to join a telegram channel and get the notification or see the patterns of slot availability for centres nearby you and start the script.

[2021-05-22 12:35] shailesh commented on #270
https://github.com/bombardier-gif/covid-vaccine-booking/issues/266#issuecomment-846399904

read about this more here

[2021-05-22 12:36] shailesh commented on #262
@abhi24ca / @Nakul93 please create a PR

[2021-05-22 12:37] shailesh commented on #242
please read about this more here

https://github.com/bombardier-gif/covid-vaccine-booking/issues/266#issuecomment-846399904

[2021-05-22 12:38] shailesh commented on #265
read about more here

https://github.com/bombardier-gif/covid-vaccine-booking/issues/266#issuecomment-846399904

[2021-05-22 12:39] darthfishious commented on #270
have tried that as well. decided to test it with only one center today which was to open at 5 pm so waited for 2 hours without running the script and turned it on at 4.58 pm with a 10 second refresh rate. the IP got blocked 1 and a half minute later.

[2021-05-22 12:46] japp2021 commented on #258
I think the issue is that our great ISP's provide only a single IP to so many customers. Cowin might have started implementing the 100 calls in 5 mins and blocking the IP. Can confirm that the same is happening with mobile wifi hotspot or a unique IP provided by ISP

[2021-05-22 12:47] abhi24ca commented on #262
@shailesh @Nakul93 pls someone create pr bcz i have done manually and cant do it properly, its not working for me. I m newbie so might done a mistake

[2021-05-22 12:58] kondorpa commented on #266
point is, what's the new rate limit?

[2021-05-22 13:16] dasanupam commented on #266
![image](https://user-images.githubusercontent.com/38061239/119227943-0f07ef00-bb2e-11eb-8d86-1d94a38ced76.png)

[2021-05-22 13:24] viveka111 commented on #266
We are using protected API

[2021-05-22 13:34] abhi24ca commented on #262
Hey @Nakul93 Can u upload modified utils.py here so that I can test it and also try booking slots at 8 PM. merging will take time. its kind of urgent.

[2021-05-22 13:41] chetan1989-cloud opened #274 "NameError: name 'captcha_automation_api_key' is not defined"
AFAIK we do not need the api_key anymore right?

[2021-05-22 13:43] abhi24ca commented on #274
This has been resolved i think, you tried latest code?

[2021-05-22 13:44] abhi24ca commented on #274
#259 check this

[2021-05-22 13:53] chetan1989-cloud commented on #274
Was using old code, issue not in latest.

[2021-05-22 13:53] #274 closed

[2021-05-22 14:02] Nakul93 commented on #262
Just copy the utils.py file contents from pr and run it

[2021-05-22 14:05] deveshmanish commented on #247
That might be the case, but shouldn't the next api fetch display the slot availability as booked?

[2021-05-22 14:07] abhi24ca commented on #262
@Nakul93 I tested it its not working even if I selected no it auto books.

[2021-05-22 14:15] Nakul93 commented on #262
Try this. I’ve probably have to commit again

[2021-05-22 15:03] ashishd751 opened #275 "Captcha key not defined error"
Hi,
Getting the below error -
`name 'captcha_automation_api_key' is not defined`

I'm using Windows and I don't see any  `covid-vaccine-slot-booking.exe` file in the project folder either.

Am I missing any step ?

Any help would be appreciated.

Regards,
**Ashish Deshpande**

[2021-05-22 15:05] abhi24ca commented on #275
You updated to latest code?

[2021-05-22 15:08] sodiumchloride2020 commented on #275
Try in cmd line.

[2021-05-22 15:20] RonakTotla commented on #266
Even this doesn't work. They aren't handling the query frequency as per their definition

[2021-05-22 15:30] officialrahulmandal commented on #267
yeah as @RonakTotla  said i kept a frequency of 8s then after i am facing the same issue again and again @bombardier-gif

[2021-05-22 15:44] Samargup opened #276 "Is there a way to search multiple districts at same time or in loop"
Hi,
How do I change code so it can search multiple districts together or in loop. Thus, it searches first district and then second and then first and so on?

regards
Samar

[2021-05-22 15:58] Akash199211113 opened #277 "Dose 2 getting picked up for dose one"
Slots which are open for second dose is also getting picked up and shown and COWIN portal will not accept

[2021-05-22 16:07] Nakul93 commented on #277
Is it similar to #239?

[2021-05-22 16:07] Abhinav2812 commented on #276
You can already do that no? Just specify a coa separated list of district numbers. It'll do a loop of query over all specified districts, wait for the duration you specified, and then repeat the query.
You can't keep querying because cowin rate limits the API

[2021-05-22 16:10] Abhinav2812 commented on #247
The script quotes whatever is reported by the APIs, and they usually take some time to sync up

[2021-05-22 16:30] #276 closed

[2021-05-22 16:43] itsacdee opened #279 "Booking never goes through"
Booking doesn't go through
Captcha Response Code: 200
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
x_order_2: colinear!
colinear!

[2021-05-22 16:50] itsacdee commented on #279
All of this is happens in less <30 seconds of getting the notification for vaccine availability.

[2021-05-22 17:03] gitmnj opened #280 "dose2_due_date"
Fetching registered beneficiaries..
'dose2_due_date'
Exiting Script

generating token but after that not working

[2021-05-22 17:17] bombardier-gif commented on #279
I run the bot as soon as I get the notification

I suggest you leave it on continuously if there is very limited slots... usually the entire centre gets booked within tens of seconds so dont waste time in getting otp and all..

[2021-05-22 17:17] #279 closed

[2021-05-22 17:31] Samargup commented on #276
Is there a way to search in districts across states?
I know we can search across multiple districts in same state.
Example: Could I search for South Delhi and Gurugram in loop?

[2021-05-22 17:52] Nakul93 commented on #280
Are you able to get the list of beneficiaries? Does all the beneficiaries that you are trying book have the same vaccination status?

[2021-05-22 18:08] uvmittal opened #281 "cant select benefeciery"
################# IMPORTANT NOTES #################
        # 1. While selecting beneficiaries, make sure that selected beneficiaries are all taking the same dose: either first OR second.
        #    Please do no try to club together booking for first dose for one beneficiary and second dose for another beneficiary.
        #
        # 2. While selecting beneficiaries, also make sure that benefic

[2021-05-22 18:28] kriprasad opened #282 "Capture of OTP is not very consistent. Getting a CloudFront Error!"
I have setup everything as suggested here. I did this yesterday. I get the below error (mentioned in the screenshot). The automation slot searching is very inconsistent. Please HELP.

![image](https://user-images.githubusercontent.com/84540072/119237258-8a32ca80-bb59-11eb-83b6-6f30517605a1.png)

[2021-05-22 18:29] dobariadhruv opened #283 "getting error : module 'jwt' has no attribute 'decode'"

[2021-05-22 18:30] dobariadhruv commented on #283
S

[2021-05-22 18:30] #283 closed

[2021-05-22 18:35] kriprasad commented on #282
This issue persists for about 5 minutes. And then automatically it generates and reads the OTP and starts working fine, but that is only for a few seconds. Later the above issue lingers for another 5 minutes.

[2021-05-22 18:58] Saubhik-Som commented on #282
I am also having the same peoblem

[2021-05-22 19:06] Saurabh-meshram commented on #282
Server is blocking your request. Server is expected to allow max 100 API in 5 minute from one IP Address but looks like server is expiring the session randomly after fewer API calls and blocking the request from the same IP address.

[2021-05-22 19:28] akshay8043 commented on #275
@ashishd751 covid-vaccine-slot-booking.exe is removed by developer probably has some bug. Directly run from command prompt/powershell
python.exe src\covid-vaccine-slot-booking.py

then fill inputs in the script when asked.

[2021-05-22 20:23] vishalv26 opened #284 "Time data doesn't match"
`Enter comma separated index numbers of beneficiaries to book for : 1
time data '' does not match format '%d-%m-%Y'`

This is the error it is throwing after selecting beneficiary

[2021-05-22 20:31] vishalv26 commented on #284
https://github.com/bombardier-gif/covid-vaccine-booking/blob/45409286145fd2c9998aa0a08b30fb272e61e297/src/utils.py#L871
https://github.com/bombardier-gif/covid-vaccine-booking/blob/45409286145fd2c9998aa0a08b30fb272e61e297/src/utils.py#L873

may be responsible for this

[2021-05-23 01:02] kmukhrjee commented on #275
I am facing the same issue when using the latest code - 'captcha_automation_api_key' is not defined. I am using Mac OS Bug Sure and running from the command line. I got two slot bookings last week by using anti-captcha.

[2021-05-23 01:12] kmukhrjee opened #285 "Using anti captcha is not working"
I am noticing that although there are slots available solving using anti-captcha is not working. I using the code from 19.05.2021.

Here is the snapshot of the error. It is either getting stuck or the booking is failing after this. I used the same code and the same anti-captcha code to book last week. I have enough credits in my anti-captcha account

[code]

[2021-05-23 05:24] shailesh commented on #285
Pull latest code, anticaptcha ks removed

[2021-05-23 05:54] kondorpa commented on #280
new code has messed it up somewhere.

[2021-05-23 05:58] ashishb341 opened #286 "OTP being asked after the every time interval for check availability of vaccines"
Now instead of using the same token generated for one otp it is asking for otp after every time interval selected. I have selected 15 secs as time interval and it is asking me otp every 15 secs

[2021-05-23 06:02] chhatrapalsinhzala07 commented on #282
Yesterday I am also getting same error, so I increased refresh time to around 15-25 seconds and it's work perfectly.

Although some time you will face same error, but wait for 5 minutes and try again.

[2021-05-23 06:08] #285 closed

[2021-05-23 06:09] bombardier-gif commented on #286
That is wierd.. there were some fixes made yesterday... check the closed PRs

[2021-05-23 06:10] jatinguta opened #287 "Option to Search slot for next 7 days"
Can you include option in dates to check for next 7 days, as now a days private hospitals are getting slots for whole week.

[2021-05-23 06:12] bombardier-gif commented on #284
There were some changes done yesterday.. please check the closed PRs and let me know if there is any change which looks buggy (I am also doing the same)

[2021-05-23 06:14] #282 closed

[2021-05-23 06:15] Akash199211113 commented on #239
I am not getting how to fix this can you please help me I have changed the code as below in utils.py in the method collect_user_details as below

def collect_user_details(request_header):
    # Get Beneficiaries
    print("Fetching registered beneficiaries.. ")
    beneficiary_dtls = get_beneficiaries(request_header)

    if len(beneficiary_dtls) == 0:
        print("There should be at least one b

[2021-05-23 06:15] bombardier-gif commented on #280
There were a bunch of PRs merged yesterday. The problem is that we cannot test these changes thoroughly, so any change introduces bugs

[2021-05-23 06:20] Nakul93 commented on #280
Yeah sorry about that. I missed one corner case where beneficiaries have different vacc status. As a suggestion, I think from now on we should submit our pr into a different branch (lets say dev) rather than the main and only after testing it thoroughly we should rebase it to main

[2021-05-23 06:21] kondorpa commented on #280
some kind of unethical way to test is to register a "fake" beneficiary, as cowin do allow to add anyone and cancel the appointments later on. They don't verify any IDs except PAN while registering.

[2021-05-23 06:22] Nakul93 commented on #284
@bombardier-gif I have fixed this bug in the latest commit, please check

[2021-05-23 06:24] Nakul93 commented on #280
Yeah true, thats how I tested it yesterday.

[2021-05-23 06:25] bombardier-gif commented on #277
Can you pull the latest code please? Is it still posing a problem?

[2021-05-23 06:26] bombardier-gif commented on #280
@Nakul93 Could you please fix the corner-case and raise a PR?

[2021-05-23 06:32] Akash199211113 commented on #277
Yes I pulled recent one and still the same problem exists, the script is picking up 4 hospitals and they have 2nd dose openings not for the first done, please check the attached screen shot
![Capture](https://user-images.githubusercontent.com/84634712/119250591-bcc2de80-bbbe-11eb-9f2f-73a7d1f6bd21.PNG)

[2021-05-23 06:32] Nakul93 commented on #280
@bombardier-gif Already did. Its in #272

[2021-05-23 06:38] Nakul93 commented on #239
@Akash199211113 Could you try this and let me know if this works for you?

[2021-05-23 06:39] #262 closed

[2021-05-23 06:40] bombardier-gif commented on #280
merged. @gitmnj Can you please re open this  issue if you see the problem again?

[2021-05-23 06:40] #280 closed

[2021-05-23 06:40] bombardier-gif commented on #280
Ideally you should make it a separate PR for bugs so that its easy to revert in case of a problem.

[2021-05-23 06:43] Nakul93 commented on #280
Agree, will do that from next time. And also we should have separate branches for features/enhancements and main branch should only be used for bug fixes

[2021-05-23 06:51] ashishgupta1020 commented on #275
@kmukhrjee Can you provide more details on how you're running? Can you please try re-downloading the main branch code. In the current main, 'captcha_automation_api_key' is not used anywhere in code.

[2021-05-23 06:57] BumpyKnuckls commented on #281
As suggested by @Nakul93 in #272 a fix has been pushed to main. Requesting you to please pull the latest main and try again.

[2021-05-23 06:57] #281 closed

[2021-05-23 07:03] #193 closed

[2021-05-23 07:05] BumpyKnuckls commented on #202
Closing this since its been addressed by @Nakul93 in #217

[2021-05-23 07:05] #202 closed

[2021-05-23 07:06] BumpyKnuckls commented on #221
Closing this due to inactivity. Please feel free to reopen it.

[2021-05-23 07:06] #221 closed

[2021-05-23 07:07] BumpyKnuckls commented on #229
Folks any thoughts on what @bombardier-gif said?

[2021-05-23 07:12] ashishb341 commented on #286
the latest pull requests have some issue...I did checkout to a previous version...the issue is not happening there.

[2021-05-23 07:14] Akash199211113 commented on #239
Its working now thanks

[2021-05-23 07:17] Akash199211113 commented on #277
This issue is resolved now after following the below suggestion

https://github.com/bombardier-gif/covid-vaccine-booking/issues/239#issuecomment-846512825

[2021-05-23 07:21] Nakul93 commented on #277
So basically this is a bug on CoWIN, whenever a appointment gets cancelled the vaccine type gets stored for that beneficiary and can't be changed apparently
As @Akash199211113  #239 (comment) resolved it. I'll create a PR for this bug fix

[2021-05-23 09:36] kmukhrjee commented on #275
@ashishgupta1020  I am using the latest code did a clone yesterday. I am running the script with python3 on my mac bigsur and was using the covinretriever app for automation OTP flow. I clone the code again and started the script let me try it.

[2021-05-23 10:27] viveka111 commented on #266
Is the issue fixed

[2021-05-23 10:42] Kanchangk commented on #280
i guess you can simply do something like this

`def vaccine_dose2_duedate(vaccine_type, dose1_date):

    if vaccine_type == "COVISHIELD":
        dose1 = datetime.datetime.strptime(dose1_date, "%d-%m-%Y")
        covishield_due_date = dose1 + datetime.timedelta(84)
        return covishield_due_date
    elif vaccine_type == "COVAXIN":
        dose1 = datetime.datetime.strptime(dose1_date, "%d-%m-

[2021-05-23 11:28] dobariadhruv opened #288 "Getting error 403 which is generated by cloudfront."
![Screenshot 2021-05-23 165658](https://user-images.githubusercontent.com/51911668/119258605-0c69d000-bbe8-11eb-9e18-5f4a68be9e84.jpg)

[2021-05-23 11:37] gitmnj commented on #288
Keep refresh frequency above 15 and try

[2021-05-23 11:50] georgeabp commented on #288
Try using a server in India for running the script.

[2021-05-23 12:33] kriprasad commented on #288
Any idea what exactly is the root cause of this issue?
I have it set at 20 but still getting the error after 3-4 iterations

[2021-05-23 12:34] jeeiee commented on #288
same issue here....

[2021-05-23 12:35] bombardier-gif commented on #288
Cowin seems to have set the rate limiting aggressively.
One workaround: Get a hosted instance on the cloud, which gives you a new ip address when you restart, and whenever you get rate-limited, do a restart of your vm.

[2021-05-23 12:36] bombardier-gif commented on #173
Can you raise a PR please? So that I can merge the script

[2021-05-23 12:41] bombardier-gif commented on #229
Please re-open if this issue still exists

[2021-05-23 12:41] #229 closed

[2021-05-23 12:41] ashishd751 commented on #288
facing same issue

[2021-05-23 12:42] kriprasad commented on #288
Any other workarounds? do you know of free proxy managers? and can we use proxy severs?

[2021-05-23 12:54] ashishd751 commented on #275
Issue **not** existing with latest code.

Anyone facing it, please update to latest.

Closing issue.

[2021-05-23 12:54] #275 closed

[2021-05-23 13:09] Nakul93 commented on #287
The current script already does that. It searches for the next 7 days from the start date

[2021-05-23 13:31] shantanu-deriv opened #289 "Apply Regex pattern to extract OTP"
[Utils#generate_token_OTP](https://github.com/bombardier-gif/covid-vaccine-booking/blob/main/src/utils.py#L1023) can be improved to extract the OTP using a 6 digit regex pattern to accomodate changes to CoWin SMS in future. Maybe something like this:
[code]

[2021-05-23 13:38] aadishj19 opened #290 "Cant find "covid-vaccine-slot-booking.exe" in window exe even after doing captcha test"

[2021-05-23 13:55] shailesh commented on #288
Can we use proxy to get new random IP whenever there is 403 as tor browser does

[2021-05-23 13:55] shailesh commented on #288
Same thing I can think of

[2021-05-23 14:02] nikunjbhartia opened #291 "Android app Start listening cowin sms radio button automatically deactivates"
I am using the cowinOTPRetriver Android app for listening to cowin sms but the "start listening to cowin sms" radio button automatically deactivates when i close and reopen the app.

Tried following:
1) have all required permissions
2) removed cache
3) deleted app and reinstalled using latest apk
4) activated the sms listener radio button, requested an otp from cowin website keeping the app open,

[2021-05-23 14:11] shantanu-deriv commented on #290
I am facing this issue too. For now use [this](https://github.com/vishalv26/covid-vaccine-booking/blob/main/advanced.bat)

[2021-05-23 14:14] beastmaster-bit commented on #291
+1

[2021-05-23 14:20] Kanchangk opened #292 "Enhancement"
1. option to exclude particular pincode(s) of a particular district. This is helpful in searching centers for elderly or very young people who can't afford to centers too far away.

2.  Give preference to nearby centers while booking slots.
One way of doing this may be selecting a random center (if there's more than than ) based on a user provided pincode and  giving preference to the centers by s

[2021-05-23 14:38] shailesh commented on #292
3 one is probably not possible since again either someone would have ro run a server on their local machine or either we will have to host it (framework would be fastapi or flask or maybe django (not required though)). And again a server on top of another server would not make a sence.

Probably a google chrome extension make more sense like how extensions are there for IRCTC ticket booking. My th

[2021-05-23 14:45] BumpyKnuckls commented on #287
Thanks a lot @Nakul93 for chipping in with the response. Closing this since its been answered. @jatinguta feel free to reopen if you have more questions :)

[2021-05-23 14:45] #287 closed

[2021-05-23 14:49] BumpyKnuckls commented on #291
@chris-10 would you know?

[2021-05-23 14:57] Kanchangk commented on #292
actually i was referring to something Eel, as it requires no servers (it uses it's own built in sever).

I have never used this library, so probably you will know better :)

[2021-05-23 14:59] bombardier-gif commented on #292
Thanks for the recommendations @Kanchangk
Can you please point out to the fork for Win  exe?

1 and 2: The main aim of this script was to serve people who are desperate to get vaccinated, anywhere where it is available. The logic would become more complex and introduce a lot more bugs too. Right now we dont have a way to test the changes, so many PRs have broken the core functionality sooner or la

[2021-05-23 14:59] #292 closed

[2021-05-23 15:33] bombardier-gif commented on #292
I re-enabled the exe creation action.
Someone had made changes to also include some fonts but that only works for ubuntu and it failed the windows exe. Those breaking changes are now reverted.

[2021-05-23 15:37] chris-10 commented on #291
@BumpyKnuckls Not able to repro this issue on my device. Need to look at the logs to fix this.
@nikunjbhartia Do you think you could collect logs of the issue using this guide - https://www.xda-developers.com/how-to-take-logs-in-android ?

[2021-05-23 17:40] uvmittal opened #294 "start date"
Do you want to automate captcha autofill? (y/n) Default y:
local variable 'start_date' referenced before assignment
Exiting Script
Press any key to continue . . .

second dose cowaxin 45+

[2021-05-23 18:25] hiteshkhatri97 commented on #290
You can find it [here](https://github.com/bombardier-gif/covid-vaccine-booking/blob/main/covid-vaccine-slot-booking.exe)

[2021-05-23 18:29] uvmittal opened #295 "usage?"
what is the use of
State/District filter by Pincodes (Optimized for rate-limit)
when it doesnt showlist to select pincodes fromit

[2021-05-23 18:47] hiteshkhatri97 opened #296 ""model.txt" not found in windows"
While running in windows using **covid-vaccine-booking/covid-vaccine-slot-booking.exe**, getting error saying can't find **covid-vaccine-booking/model.txt**. Simplest fix could be to copy/paste model.txt from src to parent folder.

[2021-05-23 19:59] shailesh commented on #296
Can you try this, pasting it to parent folder. If it works please feel free to raise a PR. Thanks for identifying this.

[2021-05-23 20:11] aadishj19 commented on #290
Thanks! So it works? Were you able to get a slot

[2021-05-24 02:02] nikunjbhartia commented on #291
Sure, will try and send logs.

@beastmaster-bit do you think you could also try and send logs following the link in above comment?

[2021-05-24 03:56] Chief-Rishab opened #299 "Not able to see the bookings on the cowin or aarogya setu portal"

[2021-05-24 03:58] BlackRider97 commented on #266
#273 Should fix this error. Tried recently ?

[2021-05-24 03:58] BlackRider97 commented on #258
#273  Should fix this error. Tried recently ?

[2021-05-24 03:59] shailesh opened #300 "pin_code_location_dtls:"
location_dtls:
+-------+---------------+-----------------+--------------+
|   idx |   district_id | district_name   |   alert_freq |
+=======+===============+=================+==============+
|     1 |           294 | BBMP            |         1100 |
+-------+---------------+-----------------+--------------+
        pin_code_location_dtls:
list index out of range
Exiting Script
sh: pause: command

[2021-05-24 04:02] shailesh opened #301 "No Merge without Rigorous Testing"
Too many bugs coming to the branch and people are failing to book the slots. I would suggest either test it out before merge or ask someone to test. Taking time to test is better than having buggy code. Thanks

[2021-05-24 04:03] shailesh commented on #301
@BlackRider97 @Nakul93 @bombardier-gif

[2021-05-24 04:18] hiteshkhatri97 commented on #290
Yes I got a slot

[2021-05-24 04:28] hiteshkhatri97 commented on #296
Yes @shailesh I have already tried and it worked for me, I was able to book a slot, here is the [PR](https://github.com/bombardier-gif/covid-vaccine-booking/pull/302) for same.

[2021-05-24 04:36] jatinguta commented on #300
in json file it is not capturing pincode's

"pin_code_location_dtls": [],

[2021-05-24 04:40] Chief-Rishab commented on #299
Got a message for booking, but no reflection in the portal, neither I could cancel the booking I made by mistake

[2021-05-24 04:51] shailesh commented on #300
"minimum_slots": 2,
    "pin_code_location_dtls": [],
    "refresh_freq": 7,
    "search_option": 2,
    "start_date": 1,

    this is there in json even though got this error. I tried for state/disctrict not for pincodes so this error came up

[2021-05-24 04:53] bombardier-gif commented on #301
To be honest. I dont like new features added at all.
Our aim was basic vaccination for people who are desperate.

Second dose, cherry picking slots, centers, they make the code into spaghetti.
People raise PRs and already spend so much time so I dont feel like rejecting their hard work.

Our work should be basically fixing the bugs in the core flow.

One suggestion to mitigate this: From now onwar

[2021-05-24 04:56] shailesh commented on #299
BBMP ?

[2021-05-24 04:57] shailesh commented on #301
+1

[2021-05-24 05:00] bombardier-gif commented on #290
The exe is available in the repository, is that not enough? (are you still facing problems?)

[2021-05-24 05:07] Nakul93 commented on #301
Yeah I also agree, lets not add any more feature for a while, it gets too complicated. Creating an issue for a new feature sounds like a good approach, everyone can vote and then decide if we want to merge that into main or not

[2021-05-24 05:08] ashishd751 opened #303 "Max Retries Exceeded Error"
Hi,

Getting below error -
`Max retries exceeded with url: /api/v2/auth/generateMobileOTP`

I've set the refresh config as below -
`"refresh_freq": 20`

Please let me know how I can overcome this.

Regards,
**Ashish Deshpande**

[2021-05-24 05:21] Nakul93 commented on #300
Will this be fixed in #298 @BlackRider97 ?

[2021-05-24 05:26] darthfishious opened #304 "Error - 'bool' object is not callable"
Getting error - 'bool' object is not callable

can we please revert back to the previous version of the code until the current issue is fixed. it was working perfectly till last night. the previous change (PR 293) seems to have caused this.

![screenshot](https://user-images.githubusercontent.com/84447012/119300644-c01d9f00-bc7e-11eb-91a7-8ca1c13438de.PNG)

[2021-05-24 05:27] bombardier-gif commented on #303
Try after sometime? You got rate limited.

[2021-05-24 05:31] ashwin-agarwal opened #305 "List index out of range"
[code]

Have been getting 'list index out of range' error since I updated my clone to the latest version.

[2021-05-24 05:31] bombardier-gif opened #306 "[Open for Voting] Cycle between IPs to bypass rate limiter?"
Hi Team,

I am thinking of  a way to to change the IP address whenever the rate-limiting happens. We essentially change the IP address and send it in headers.

Like this: https://infosecwriteups.com/bypassing-rate-limit-like-a-pro-5f3e40250d3c

Thoughts on this feature?
[I am not sure if this will even work, but wanted to know your thoughts]

[2021-05-24 05:39] Chief-Rishab commented on #299
Nope, Kolkata. The booking didn't reflect in the Cowin portal, so did this script really worked with the booking or not I am still not sure. I wanted to cancel it since it was 40 kilometers away

[2021-05-24 05:43] Akash199211113 opened #307 "Script is exiting without any reason"
I have tried to execute the script multiple times but its exiting with out any reason can anyone please help
![image](https://user-images.githubusercontent.com/84634712/119302036-12f85600-bc81-11eb-9603-66fa34c0994d.png)

[2021-05-24 06:42] Nakul93 commented on #305
Duplicate #300

[2021-05-24 06:42] aadishj19 commented on #290
Getting an error "bool object is not callable"

[2021-05-24 06:42] Nakul93 commented on #307
Duplicate #300

[2021-05-24 06:45] bombardier-gif commented on #306
I will share a PR by EOD, Have the basic code in place,  I want to work on  the edge cases too

[2021-05-24 06:47] aadishj19 commented on #304
Getting the same whenever a slot is available

[2021-05-24 06:49] Nakul93 commented on #301
@bombardier-gif can you please pin this issue

[2021-05-24 06:56] Nakul93 commented on #294
This has now been fixed, please check and close it if resolved

[2021-05-24 06:56] uvmittal commented on #306
it wouldbe amazing

[2021-05-24 07:18] Nakul93 commented on #304
Are you guys using option3 ( State/District filter by Pincodes) the feature that got added recently?

[2021-05-24 07:21] darthfishious commented on #304
No. I’m still using the older State-District option with no filter

[2021-05-24 07:23] shailesh commented on #306
Nice idea, today morning I was thinking bypass Tor to the entire system or at least the terminal. but this would get complicated so instead, some libraries out there would help in place

[2021-05-24 07:28] Nakul93 commented on #304
@BlackRider97 could you look into this?

[2021-05-24 07:33] shailesh commented on #290
reference #304

[2021-05-24 07:43] uvmittal opened #308 "list index out of range"
location_dtls:
+-------+---------------+------------------+--------------+
|   idx |   district_id | district_name    |   alert_freq |
+=======+===============+==================+==============+
|     1 |           146 | North Delhi      |         1100 |
+-------+---------------+------------------+--------------+
|     2 |           143 | North West Delhi |         1540 |
+-------+---------------+

[2021-05-24 07:44] darthfishious commented on #304
issue still persists even after the latest update PR 298.

@aadishj19 is right. the issue appears whenever a slot is available for booking.

this completely breaks the script if it cant book available slots anymore. please fix this urgently or revert to code before PR 293.

[2021-05-24 07:48] uvmittal commented on #300
no

[2021-05-24 07:51] Nakul93 commented on #304
@darthfishious temporarily you can switch to the commit-id before PR 293 locally.
just do `git checkout <commit-id>`

[2021-05-24 07:51] SnoCold commented on #300
the PR doesn't fix the issue, it actually creates a new issue (options being referenced before initialization).. the issue is on line 220 of utils.py

all you need to do in your files is add this line
after line 220
[code]

[2021-05-24 07:52] shailesh commented on #306
I had this problem too. I tried the below steps and was able to run with refresh freq to 1 second.

**1. [download](https://www.torproject.org/download/download-easy.html.en) and install tor-browser
2. testing tor**

open terminal and type:

`curl --socks5-hostname localhost:9050 https://cdn-api.co-vin.in`

3. if you see the result it's worked.

Now we should test in python. Now run this code

[co

[2021-05-24 07:52] uvmittal commented on #300
can you do a pull request

[2021-05-24 07:52] shailesh commented on #308
#300 #304

[2021-05-24 07:53] shailesh commented on #300
#300 #304

[2021-05-24 07:53] SnoCold commented on #300
alrighty, will do

[2021-05-24 07:55] #296 closed

[2021-05-24 07:55] BumpyKnuckls commented on #294
Please feel free to reopen it if it remains unresolved

[2021-05-24 07:55] #294 closed

[2021-05-24 07:56] uvmittal commented on #300
thanks mate
please leave a link

[2021-05-24 07:58] darthfishious commented on #304
@Nakul93 thanks. gone back to the older version. at least this works.

[2021-05-24 07:59] SnoCold commented on #300
Yes, will do that as well

[2021-05-24 08:09] SnoCold commented on #300
please Check the PR, I have also added steps to fix for people who already created the json.

[2021-05-24 08:17] uvmittal commented on #300
i tried but the issue persists
probably coz i selected 2 as aoption but still it wants pincodes

[2021-05-24 08:22] SnoCold commented on #300
but two is hybrid, i thought there must be some other logic there. Does it work if you modify your json?

[2021-05-24 08:28] uvmittal commented on #301
but please fix issues like #308 #300 #305
as icant book my second dose

[2021-05-24 08:30] uvmittal commented on #300
no

[2021-05-24 08:43] Nakul93 commented on #304
@uvmittal Try this

[2021-05-24 08:52] aadishj19 commented on #304
how to do this for someone who's using the exe file and a noob :')  ?

[2021-05-24 09:30] Akash199211113 commented on #300
I tried to add the code as suggested, but I am getting some error can you help me to fix
![image](https://user-images.githubusercontent.com/84634712/119327620-ca509500-bca0-11eb-8537-2d9c73fd426e.png)

[2021-05-24 09:44] SnoCold commented on #300
@Akash199211113

[2021-05-24 09:46] SnoCold commented on #300
You have some extra or insufficient tabs/spaces.. it is not a code issue but a formatting issue

[2021-05-24 10:03] ashishd751 commented on #303
I tried that, and the error for `/generateMobileOTP` went away.

But now, the same error seems to be occuring for
`HTTPSConnectionPool(host='kvdb.io', port=443): Max retries exceeded with url:/ASth4wnvVDPkg2bdjsiqMN/**********`

Let me know what can be done.

[2021-05-24 10:12] chetan1989-cloud commented on #306
Any updates on this guys?

[2021-05-24 10:17] Akash199211113 commented on #300
Yes I edited in notepad, can u suggest me how to fix ?

[2021-05-24 10:20] uvmittal commented on #305
#312

[2021-05-24 10:22] 6mxo89sqh commented on #307
#312 will fix this.

[2021-05-24 10:24] #308 closed

[2021-05-24 10:24] 6mxo89sqh commented on #300
#312 will fix this too.

[2021-05-24 10:25] #300 closed

[2021-05-24 10:27] #295 closed

[2021-05-24 10:42] darthfishious commented on #304
thank you @6mxo89sqh and @bombardier-gif . the issue is resolved with the latest PR 312.

[2021-05-24 10:42] #304 closed

[2021-05-24 10:44] SnoCold commented on #300
Just do a fresh pull/clone now

[2021-05-24 10:44] 6mxo89sqh commented on #301
@bombardier-gif Please setup secrets as mentioned [here](https://github.com/bombardier-gif/covid-vaccine-booking/pull/311#issuecomment-846945980)

[2021-05-24 11:10] bombardier-gif commented on #307
Please pull the latest code and let me know

[2021-05-24 11:17] sanket-gupta commented on #306
There are two issues with using TOR
1. if everyone starts using TOR, the cowin system will get overwhelmed at some point of time. At the end, as responsible citizens, we need to allow the portal to keep running so that everybody can get vaccinated
2. . Cloudfront may already have the ability to block Tor Traffic. Refer to this https://stackoverflow.com/questions/55151477/website-is-blocking-me-acc

[2021-05-24 11:18] jfreak27 commented on #306
@shailesh have you limited tor to use India based IPs?
When I'm doing that getting 403 from CloudFront.
`curl -i --socks5-hostname localhost:9150 https://cdn-api.co-vin.in
HTTP/1.1 403 Forbidden`

[2021-05-24 11:22] jfreak27 commented on #306
@bombardier-gif were you able to bypass rate limiting by using IP forwarding headers? Not working for me.
Event https://checkip.amazonaws.com/ shows same IP for all requests.
I even tried using Anonymous Proxies as well. Looks like we will need Distorting proxy for IP to actually change.

[2021-05-24 11:24] shailesh commented on #306
Agree

[2021-05-24 11:38] #305 closed

[2021-05-24 12:07] vesan83 opened #315 "where do we fill the Captcha API key from anti-captcha.com"
PREVIOUSLY WHEN USING THE OLDER VERSION ON THE SCRIPT WE USE TO GET AN OPTION TO FILL THE API IN THE NEXT FEILD, NOW THERE IS NO OPTION AVAILABLE.

================================= Vaccine Info =================================

It seems you're trying to find a slot for your first dose. Do you have a vaccine preference?
Enter 0 for No Preference, 1 for COVISHIELD, 2 for COVAXIN, or 3 for SPUTNIK

[2021-05-24 12:09] vesan83 commented on #315
THIS IS HAPPENEING ON THE LATEST ZIP DOWNLOADED FROM GITHUB, JUST BEFORE POSTING

[2021-05-24 12:27] rajmishra78 opened #316 "Getting Logged out every few minutes and not generating any OTP after"
**Unable to Generate OTP**
**403 ERROR: The request could not be satisfied**

**The request could not be satisfied.**
[code]

[2021-05-24 12:38] RonakTotla commented on #315
it has been updated. if you want to use anti-captcha, you'll have to go to the previous versions

[2021-05-24 12:45] YashMohanGarg commented on #315
why it has been removed is there any issue with it or was it slower than the manual process of entering captcha ?

[2021-05-24 13:10] RonakTotla commented on #315
To be honest, it was a good option. But looking at the scarcity of the slots available, it stands slow.
If you are lucky, you might get it solved in 3-4 seconds and get a slot.

[2021-05-24 13:19] 6mxo89sqh commented on #316
@rajmishra78

CoWIN's api rate limit is 100 per five minute for an IP. You need to ensure you don't pass more than that.
Each district and each pin contribute to an API call.

Example:
Lets say i am searching for 2 pincode.
At refresh rate of 5sec, my total requests in 5 min would be 120. [ I will get blocked ]
At refresh rate of 6sec, my total requests in 5 min would be 100. [ I may get blocked w

[2021-05-24 13:23] 6mxo89sqh commented on #288
CoWIN's api rate limit is 100 per five minute for an IP. You need to ensure you don't pass more than that.
Each district and each pin contribute to an API call.

Example:
Lets say i am searching for 2 pincode.
At refresh rate of 5sec, my total requests in 5 min would be 120. [ I will get blocked ]
At refresh rate of 6sec, my total requests in 5 min would be 100. [ I may get blocked when there are

[2021-05-24 13:36] ravi16696 opened #317 "Even the slots are available we can clearly see but still getting this error"
Centers available in *** from 25-05-2021 as of 2021-05-24 18:53:34: 26
'bool' object is not callable
'bool' object is not callable
Retryin in 5 seconds

[2021-05-24 13:36] 6mxo89sqh commented on #317
Please update the code. this issue was fixed

[2021-05-24 14:07] Adeshwar03 commented on #290
Well still facing an issue. Not able to find the exe in the repositor or after running the captcha test
Able to run the Vishal fork version without an issue using the alternative or the native.bat

Disclaimer- Dont know any phython knowledge

[2021-05-24 14:13] rajmishra78 commented on #316
@6mxo89sqh @bombardier-gif @BumpyKnuckls

I knew about this and I tried too.
I set the refresh rate to 30 sec still this problem persists. 30 seconds is a big number in comparison to 5-7 as you explained but still the problem remains. It logs me out and doesn't let me in for some time.

Please try yourself and respond regarding the same. It's hard to book.

[2021-05-24 14:47] vesan83 commented on #315
How do i get the previous version ? what is the link to download ?

Please put it back it was a fantastic option. you did not need to sit in front of laptop all the time, you could start it with it and leave it on

it always was an option if you wated to use it or not

----------

If its removed why is it asking
================================= Captcha Automation =================================

[2021-05-24 15:06] dimpuknath commented on #316
I saw similar issue after updating to the latest code...something is wrong.

[2021-05-24 15:21] chris-10 commented on #291
@nikunjbhartia @beastmaster-bit Could you check with the latest APK if it fixes your issue?

[2021-05-24 15:36] bombardier-gif commented on #315
Right now autofill captcha is AI assisted, it does not need any registration with third party. Users have reported very high success rates.

Hence the older paid algorithms have been deprecated. suggest you to use the new algorithm (it does not need any API key)

[2021-05-24 15:36] #315 closed

[2021-05-24 15:36] #317 closed

[2021-05-24 16:02] ankit4000 opened #320 "Executable missing"
Hello Bombardier,

Can you please compile and provide an executable.

[2021-05-24 16:17] darthfishious commented on #291
@chris-10 , the toggle still goes to off position after killing the app after the latest apk.

[2021-05-24 16:22] chris-10 commented on #291
@darthfishious If the app is killed (by going to recents apps and swiping it away), the toggle will be turned off. This is as designed. The app needs to be running in the background for toggle to remain on.
Can you explain your use case in detail?

[2021-05-24 16:34] raviteja-chunduri opened #321 "Slots are available but not proceeding to book"
while the script is running, atleast 3 - 5 times slots are opened at a tune of 100 each time but the script is saying there are no viable options. I can see other people booking manually too

	minimum_slots	: 3
	pin_code_location_dtls	: []
	refresh_freq	: 7
	search_option	: 2
	start_date	: 1
	vaccine_type	: None

am I missing anything to be taken care of in the script

[2021-05-24 16:37] shailesh commented on #321
any error on your screen?

[2021-05-24 16:39] ithihasmadala commented on #320
Can you please elaborate on the error by posting a screenshot?

[2021-05-24 16:39] raviteja-chunduri commented on #321
nothing..very smooth 7 sec updates. in one of the case, I am able to book manually but the script showed no viable options

[2021-05-24 16:46] ankit4000 commented on #320
Windows Executable file is now missing from your repository in the current branch, can you please compile the package and upload the windows executable.

[2021-05-24 16:48] Nakul93 commented on #321
are you able to see available centers?  Or is that 0 as well

[2021-05-24 16:52] raviteja-chunduri commented on #321
I can see the available centers with correct count for the districts I selected

[2021-05-24 16:56] Nakul93 commented on #321
Ok that means the script seems to work fine, just check your json file again. Maybe you are looking for dose1, but all the centers have dose2 available, thats why it is showing no viable options.

[2021-05-24 17:02] 1nfected opened #323 "Alternate ways to donate"
Would love to donate. But don't want to sign-up at paypal.

Could you add alternate ways of donation, which don't require sign-up etc?

[2021-05-24 17:03] raviteja-chunduri commented on #321
all of the notifications are for the dose1. happened again just now. it is counting the new center after the centers releases vaccines but not showing the availability. for example, you can see the center count increase by 1 as just now one of the center released the slots

===================================================================================
Centers available in Bangalore Urban from

[2021-05-24 17:05] ithihasmadala commented on #320
Its in the test folder

[2021-05-24 17:07] Nakul93 commented on #321
Have you set a fee preference? That could be 1 issue. Also try a different start date

[2021-05-24 17:12] Yash-97 opened #324 "Slots are available but not being detected by script. Showing "no viable options"."

[2021-05-24 17:12] raviteja-chunduri commented on #321
No preference on the fee. Let me try a different start date

[2021-05-24 17:13] ankit4000 commented on #320
Hi,

I have checked and unable to find it in the current branch, please assist

[2021-05-24 17:13] Yash-97 commented on #324
Centers available in Kolkata from 25-05-2021 as of 2021-05-24 22:33:19: 4
===================================================================================
Centers available in Kolkata from 25-05-2021 as of 2021-05-24 22:33:22: 5

Number of centers is increasing as it is being added but slots not getting detected.

[2021-05-24 17:24] beastmaster-bit commented on #291
@chris-10 @nikunjbhartia The latest update didnt fix the problem. But, I realized that the issue appears to go away if I change my navigation bar settings from gesture-based to fixed buttons. @nikunjbhartia , You too can try removing gesture based navigation and check...

[2021-05-24 17:27] bombardier-gif commented on #323
I am not sure, is there any alternative?

[2021-05-24 17:28] 1nfected commented on #321
This just means there are 1 / 17 centers available. It doesn't mean there are slots available in those centers. When there are slots available, it lists something like the following

Do you see anything like the above?

[2021-05-24 17:28] ravichoubey5 opened #325 "Validating OTP.. Unable to Validate OTP"
Validating OTP..
Unable to Validate OTP

[2021-05-24 17:31] Yash-97 opened #326 "Unable to Validate OTP"

[2021-05-24 17:32] Yash-97 commented on #326
Validating OTP..
Unable to Validate OTP
{"message": "Endpoint request timed out"}

[2021-05-24 17:34] Nakul93 commented on #326
Duplicate #325
@Yash-97 Please check for similar issues before raising a new one

[2021-05-24 17:34] Nakul93 commented on #324
Duplicate #321

[2021-05-24 17:35] 1nfected commented on #323
It seems it's already possible to accept payments through UPI.

I'm new to buymeacoffee.com, but according to the following links, it seems it's possible.
Maybe some setting that you need to look into?

https://twitter.com/pradologue/status/1315286963818119168
https://building.buymeacoffee.com/feature-requests/p/upi-payments-india

[2021-05-24 17:37] raviteja-chunduri commented on #321
I am not able to see anything like you provided. I know the script will show the options if there is availability, but it is not showing. Ideally when it does not show any options it means there are no slots available but you can see the slots available for the same options in the cowin/arogya setu/ umang app

[2021-05-24 17:38] raviteja-chunduri commented on #325
happening with me too from 10:40. assuming it can be of some issue from cowin as script able to read and parse the otp correctly but endpoint issue it is

[2021-05-24 17:39] Nakul93 commented on #321
I tried to look into those above mentioned centers but they have it only for 45+ age group. Are you also looking for that?

[2021-05-24 17:39] #326 closed

[2021-05-24 17:40] #324 closed

[2021-05-24 17:44] raviteja-chunduri commented on #321
no, they have a lot of slots opened for 18-44 also. for reference, attaching once screenshot, have more cases

![Screenshot 2021-05-24 at 11 11 16 PM](https://user-images.githubusercontent.com/64302736/119386783-a4011880-bce5-11eb-8f6d-a70b579e6f10.png)

[2021-05-24 17:44] ankit4000 commented on #290
This file is not available anymore, can you please provide it.

Thanks

[2021-05-24 17:50] Nakul93 commented on #321
Ok what possibly might have happened here is by the time the script detected the slots( which are always a bit delayed) it might have got booked, thats why it was showing center available but no viable options.

[2021-05-24 17:53] Yash-97 commented on #321
Faced this same issue as mentioned by @raviteja-chunduri
Could be a CoWin issue as the slots were booked before being reflected on the website as well.

[2021-05-24 18:00] KamleshkumarShah commented on #325
Having same issue for last 50 minutes. Below is the snippet.

![image](https://user-images.githubusercontent.com/84586208/119388481-f6dbcf80-bce7-11eb-9090-62e767cdfdee.png)

[2021-05-24 18:00] 1nfected commented on #325
Please do not expose your mobile number.

[2021-05-24 18:25] 6mxo89sqh commented on #320
@bombardier-gif

Please follow the steps mentioned in #311 and make a release to generate the executable.

[2021-05-24 18:28] nolimits0007 commented on #325
facing same otp issue. after some time it says timeout.

[2021-05-24 18:32] ravi16696 commented on #325
i am also facing
Validating OTP..
Unable to Validate OTP
Response: {"message": "Endpoint request timed out"}

[2021-05-24 18:33] 6mxo89sqh commented on #316
I have tried it. If the IP is dedicated to you, the calculations are correct. Your ISP might be NATting IP. Try with a different ISP and check.

[2021-05-24 18:42] sumit2k21 commented on #325
Unable to Validate OTP
Response: {"message": "Endpoint request timed out"}

[2021-05-24 18:46] sumit2k21 commented on #323
http://buymeacoff.ee/CovidVaccine

[2021-05-24 18:48] hirparadhaval15 commented on #325
I face the same issue. Should I go back to the previous commits to resolve this issue?

[2021-05-24 18:52] sanket-gupta commented on #325
Calls from the browser to the same endpoint seem to be working fine but calls from python are timing  out.

[2021-05-24 19:00] lightningfuzion2 commented on #325
they may have Blocked the Secret.. it seems

[2021-05-24 19:03] sanket-gupta commented on #325
what secret?

[2021-05-24 19:12] chandrachur1982 commented on #325
facing same issue ....
Enter OTP (If this takes more than 2 minutes, press Enter to retry): 849808
Validating OTP..
Unable to Validate OTP
Response: {"message": "Endpoint request timed out"}

[2021-05-24 19:14] nikunjbhartia commented on #325
Same here

On Tue, May 25, 2021 at 12:42 AM chandrachur1982 ***@***.***>
wrote:

[2021-05-24 19:35] shailesh commented on #323
@1nfected just try this https://www.buymeacoffee.com/shailes

DO NOT DONATE ON ABOVE JUST TRY.

If it works I'll help @bombardier-gif setup upi

[2021-05-24 19:38] sanket-gupta commented on #325
The solution to the problem is to use this

        base_request_header = {
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36 Edg/90.0.818.66',
            'origin': 'https://selfregistration.cowin.gov.in',
            'referer': 'https://selfregistration.cowin.gov.in/'
        }

What i dont know yet is i

[2021-05-24 19:53] ithihasmadala commented on #325
@sanket-gupta gg it works, tested it all the way till booking

[2021-05-24 20:02] sanket-gupta commented on #325
Cool, if possible can u create a PR ?

On Tue, 25 May, 2021, 1:23 am Ithihas Madala, ***@***.***>
wrote:

[2021-05-24 20:03] ithihasmadala commented on #325
Done

[2021-05-24 20:25] sync-1203 commented on #258
Stuck here and doesnt proceed further.

clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/XXXXXXXXXX
('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

[2021-05-24 20:53] ravichoubey5 commented on #325
base_request_header = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36 Edg/90.0.818.66',
        'origin': 'https://selfregistration.cowin.gov.in',
        'referer': 'https://selfregistration.cowin.gov.in/'
    }

[2021-05-24 20:54] ravichoubey5 commented on #325
Thanks

[2021-05-24 21:00] nolimits0007 commented on #325
Thank u Ithihas Madala & Sanket Gupta for solving the problem.

[2021-05-24 22:45] jishnuthewalker opened #328 "using .json file"
are there any instructions to use the .json file?

[2021-05-24 22:51] #328 closed

[2021-05-25 01:33] vishykane2 commented on #325
This solution was working fine until 5 AM IST, Time delay is worse now. Did Cowin reduce the API call rate?

[2021-05-25 02:26] vishykane2 opened #329 "Did Cowin reduce the API call rate this morning ? 25th may 2021 ??"
This solution was working fine until 5 AM IST, Time delay is worse now. Did Cowin reduce the API call rate?

_Originally posted by @vishykane2 in https://github.com/bombardier-gif/covid-vaccine-booking/issues/325#issuecomment-847464469_

[2021-05-25 03:15] bombardier-gif commented on #329
I wont be surprised.
I would have loved if they had a better system in place before introducing rate limiting ¯\_(ツ)_/¯

[2021-05-25 03:16] bombardier-gif commented on #325
@ithihasmadala Thanks a ton for the PR!

[2021-05-25 03:16] #325 closed

[2021-05-25 04:10] bombardier-gif commented on #323
My aim was to

1. cover the kvdb.io costs as we make significant calls to the buckets.
2. cover the 2captcha costs by buying a single key so that everyone could use it. But a more robust solution is in place which is also free.

[2021-05-25 04:22] Kanchangk opened #330 "availability table, attempt to book and center booked not matched"
![image](https://user-images.githubusercontent.com/8496126/119438757-8744ff00-bd3e-11eb-867d-624c56726aab.png)

Showing attempt to book center is at index 0, but actual booked center was different and of different date.

It is happening due to randomization of slots after displaying the table. But
1. ironically, it did not tried for the center with highest availability.
2. When the response status

[2021-05-25 04:24] bombardier-gif commented on #320
@6mxo89sqh I added a token to the yaml. But still I am not able to run the action. Can you check it please?

[2021-05-25 04:34] blrvac opened #331 "Validation of OTP Failing Since Last Night 25th May"
Validating OTP..
Unable to Validate OTP
{"message": "Endpoint request timed out"}

Hi, facing an issue with OTP validation since last night. The script is able to pull the correct OTP from the android phone but after that point, it fails while validating. Can you please help me?

It was working fine till around 11 PM last night. I tried a different phone number as well but faced the same issue.

T

[2021-05-25 04:35] vishykane2 commented on #331
Yes, Validation is very slow.so are other API calls.
https://github.com/bombardier-gif/covid-vaccine-booking/issues/329

[2021-05-25 04:44] 6mxo89sqh commented on #320
No, token is to be added to Github Secrets. [Here is the full reference. ](https://docs.github.com/en/actions/reference/encrypted-secrets)
Go to Settings --> Secrets --> New repository secret --> Name: TOKEN --> Value: (your personal access token) --> Add secret

[Here](https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token)

[2021-05-25 04:46] janghaludu commented on #331
Probably because Headers need to be updated. Just the User Agent and Authorization token don't suffice anymore it seems.  I don't know what headers you guys are using but that probably is the case.

`authheaders = {
                    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'
                    ,'conte

[2021-05-25 04:59] vishykane2 commented on #331
@bombardier-gif  can we verify this and create a PR ?

[2021-05-25 05:01] sumit7 commented on #331
@janghaludu can you tell me how you found out what headers are needed?

[2021-05-25 05:06] janghaludu commented on #331
Friend of mine told me so and I updated accordingly. My personal script started working again after that.

[2021-05-25 05:08] janghaludu commented on #331
This change happened apparently around 11PM last night

[2021-05-25 05:10] sumit7 commented on #331
@janghaludu Yeah I saw that too. I would really like to know how your friend found out if it is not too much trouble.

[2021-05-25 05:14] janghaludu commented on #331
Trial and error. She checked the request headers logging in from browser, copied the headers and tried them in the script and it worked.

[2021-05-25 05:18] slomogangsta commented on #331
I've updated the base_request_header with the info given here. But I still face issues with OTP validation!

[2021-05-25 05:22] janghaludu commented on #331
Hmmm if its of any help, we are using a hardcoded value for secret during OTP generation.

`secret = "U2FsdGVkX18s/oUTUJOmDy27XnsU5MQK+iwUroz0Qt8GFhlG76l3NzNxxJxtm2BptyYFmTQCHA+x1KfO+8iwag=="`

[2021-05-25 05:39] Kanchangk commented on #331
How about using 127.0.0.1 for origin and referer?

[2021-05-25 05:47] janghaludu commented on #331
OK so here's what seems to be working for me.

Headers for OTP generation

`{  'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36' }`

Headers for OTP Validation

[code]

Headers everywhere else

[code]

Adding extra headers during OTP generation threw up error consistently and reverting back to the simple userage

[2021-05-25 06:08] 40ZqTYY4ag3tAO4hdlxR1 commented on #331
"Test Release 1" fixed this issue ( for now )... was able to log in

[2021-05-25 06:33] vaccine-warrior commented on #331
The documentation does not seem to ask for a secret

https://apisetu.gov.in/public/api/cowin#/User%20Authentication%20APIs/generateOTP

Why are we then sending a secret

[2021-05-25 06:33] vaccine-warrior commented on #331
A fix was applied on the main branch  few hours ago to fix the OTP Validation issue?

Are some people still facing an issue while using the latest code?

[2021-05-25 07:08] techiemonk commented on #323
@bombardier-gif  - Why don't you use [keyvalue](http://keyvalue.immanuel.co/) instead of kvdb.io? It's free!!

https://stackoverflow.com/questions/9024819/free-cloud-data-stores-that-use-get-post#comment80957247_30934715

[2021-05-25 07:10] salian commented on #306
The rate limit is set quite low since the last few days. While manually booking through the website and repeatedly refreshing, I can barely stay logged-in for 60 seconds. And then I get blocked by cloudfront for the next 4 minutes. And if I don't refresh, slots get over in 2-3 seconds on average (I measured.) So time spent booking is wasted if we don't refresh around 60/s.

Especially in the conte

[2021-05-25 07:25] vishalv26 commented on #331
Yes. The error is still there. Also, it is not about header.

[2021-05-25 07:35] janghaludu commented on #331
Ah ok that's news to me :| I started working on a script based on the requests sent from https://selfregistration.cowin.gov.in It has a secret parameter sent during OTP generation. Came across this repo soon after and used the code here as reference for captcha generation calls etc. When my script stopped working, I came here to check and noticed you guys facing the same issue. When my friend then

[2021-05-25 07:38] sync-1203 opened #333 "OTP Bucket Doesnt Clear - OTP Listener App."
Stuck here and doesnt proceed further on the first iteration.

clearing OTP bucket: https://kvdb.io/ASth4wnvVDPkg2bdjsiqMN/XXXXXXXXXX
('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

The script works fine if I use the manual feed OTP option
The listener app is working fine. Its able to read and generate a succ

[2021-05-25 07:49] sync-1203 commented on #333
Resolved with updated repo

[2021-05-25 07:49] #333 closed

[2021-05-25 07:52] skapa-xd opened #334 "There is no "**covid-vaccine-slot-booking.exe**, it was there when I downloaded yesterday!"
![Screenshot (74)](https://user-images.githubusercontent.com/68050388/119460223-17de0800-bd5c-11eb-8774-fa4ae226ace5.png)

[2021-05-25 07:54] skapa-xd commented on #334
I deleted the whole thing and downloaded the new code zip as there was a patch, but I don't see the application?!

[2021-05-25 07:55] sync-1203 commented on #331
I just tried, no issue there.. validation is working fine

[2021-05-25 08:15] vaccine-warrior opened #335 "Can we get Rid of secret in OTP calls"
The documentation does not seem to ask for a secret

https://apisetu.gov.in/public/api/cowin#/User%20Authentication%20APIs/generateOTP

Why are we then sending a secret

The documented Endpoint as per the API Spec is
https://cdn-api.co-vin.in/api/v2/auth/public/generateOTP

But the code currently uses the api endpoint from the cowin website which requires the secret
 we should discuss which approa

[2021-05-25 08:22] nolimits0007 commented on #334
In folder tests u can see the exe file. ur antivirus might be quarantine the file. Its false positive.

<img width="1003" alt="Screenshot 2021-05-25 at 13 48 20" src="https://user-images.githubusercontent.com/84738436/119464454-5e356600-bd60-11eb-9431-f41abb47382c.png">

[2021-05-25 08:23] sumit7 opened #336 "[NEW FEATURE ] ["
OCR otp reading from https://messages.google.com/web.
I wrote the code for myself. If people think it is needed I can commit it.

[2021-05-25 08:28] bombardier-gif commented on #336
Hi @sumit7 Thanks for the idea. How would it benefit over the current AI assisted auto captcha?

[2021-05-25 08:47] bombardier-gif commented on #335
I am ok as long as the OTP works fine. Is there a concern or any drawback in using the current implementation @vaccine-warrior ?

[2021-05-25 08:49] bombardier-gif commented on #323
@techiemonk thanks for the idea. This looks good too. Do you know any limitations of it?
kvdb also has a free tier but the number of calls are limited.

[2021-05-25 08:54] ferdeadmin commented on #336
Hi Bombardier... In last week's version of the code, when the script asked for Captcha automation, I had to provide the key for the anti-captcha service, which I bought and worked fine.. However, with the latest commit of code, the script does not ask for any key even though it asks for do you want to automate captcha.. does that mean the script uses any open source services for this and no paid k

[2021-05-25 08:58] siddharthgoyal90 commented on #336
Hi @bombardier-gif In last week's version of the code, when the script asked for Captcha automation, I had to provide the key for the anti-captcha service, which I bought and worked fine.. However, with the latest commit of code, the script does not ask for any key even though it asks for do you want to automate captcha.. does that mean the script uses any open source services for this and no paid

[2021-05-25 09:14] aadishj19 opened #337 "Error : Unable to validate OTP. Endpoint request timed out"

[2021-05-25 09:24] ithihasmadala commented on #336
Now it's an AI assisted captcha

[2021-05-25 09:32] siddharthgoyal90 commented on #336
@ithihasmadala @bombardier-gif - Thanks. Does that have a better accuracy than the paid service? Just wanted to leverage the paid service in case that's more accurate? Any thoughts? OR does the current one is more preferred one to use?

[2021-05-25 09:34] ithihasmadala commented on #336
I used 2captcha.com to book 15 times, and the AI assisted Captcha 8 times. I feel they are about the same...

[2021-05-25 09:37] siddharthgoyal90 commented on #336
Thanks @ithihasmadala - In case I want to continue using the anti-captcha service with the latest version of code, is that doable? If yes how? (As I mentioned latest one do not ask for the API key for anti-captcha service). And the previous version of code break at OTP validation, so I am kind of stucked.

[2021-05-25 09:46] ithihasmadala commented on #336
The simplest way to do it is to replace the `captcha_builder_auto()`  in `src/captcha.py` with:
`
from anticaptchaofficial.imagecaptcha import imagecaptcha

def captcha_builder_auto(resp):
    with open('captcha.svg', 'w') as f:
        f.write(re.sub('(<path d=)(.*?)(fill=\"none\"/>)', '', resp['captcha']))

    drawing = svg2rlg('captcha.svg')
    renderPM.drawToFile(drawing, "captcha.png", fmt=

[2021-05-25 09:52] shailesh commented on #336
@bombardier-gif this is more about syncing OTP nothing to do with captcha. I guess.

https://messages.google.com/web/authentication

[2021-05-25 09:53] shailesh commented on #336
this will break because a lot of people use google message app in android but some do not like MI and other phones have there owned messaging app. so I guess APK for now is awesome to sync OTP

[2021-05-25 10:13] techiemonk commented on #323
@bombardier-gif I don't know of any limitations. However, I did some quick API rate testing, and was able to make >1000 request per minute for >20000 requests.

[2021-05-25 10:14] ithihasmadala commented on #337
This issue is resolved with a commit made a couple of hours ago, please make sure you are on the latest commit.

[2021-05-25 10:36] #337 closed

[2021-05-25 10:50] malayilneil commented on #330
A similar Issue happened to me yesterday. A Hospital released all their slots for the rest of the week at once. Bot tried to book the slot but returned it was completely booked. Instead of trying to book other slots on other dates it tried the same thing again.

Issues faced
1) Similar to the table shown above, the program showed on the second and third try that 100 slots (100 slots were released

[2021-05-25 10:51] shailesh opened #338 "Endpoint request timed out"
OTP SMS is:Your OTP to register/access CoWIN is ######. It will be valid for 3 minutes. - CoWIN
OTP SMS len is:##
Parsed OTP:######
Validating OTP..
Unable to Validate OTP
{"message": "Endpoint request timed out"}

[2021-05-25 10:56] Kanchangk commented on #336
can you share the code for people who want to automate the OTP but don't want to use third party apps?

[2021-05-25 10:56] pranjalmundra commented on #338
Same issue is happening with me

[2021-05-25 10:58] pathobby commented on #338
#331 This is the same issue

[2021-05-25 11:01] darthfishious commented on #338
I'm getting this during OTP validation. but it seems that its the same issue.

Error :   Too Many Requests

![screenshot](https://user-images.githubusercontent.com/84447012/119487076-947de000-bd76-11eb-9020-64dc02866228.PNG)

[2021-05-25 11:08] bheriyaJ commented on #338
Encountered same issue. Has apisetu blocked api call from programs?

[2021-05-25 11:26] sumit7 commented on #336
I will share the code.
In short I keep taking screenshots, crop to a predetermined box and use pytesseract module for image to text conversion

[2021-05-25 11:38] shailesh commented on #338
Closing this, seems some issue from Cowin server, ;later I was able to book

[2021-05-25 11:38] #338 closed

[2021-05-25 11:39] skapa-xd commented on #334
Now come back to main folder unzip "**windows exe.zip**"go to this###  **"****windows exe**" folder****
there is no windows exe.
also turned off all antivirus and firewall.

[2021-05-25 11:39] shailesh commented on #334
Download it from here: https://github.com/shailesh/covid-vaccine-booking/releases/download/main/covid-vaccine-slot-booking.exe

@bombardier-gif please look into the release

[2021-05-25 11:40] shailesh commented on #334
@skapa-xd please close this if you are able to download from the shared link

[2021-05-25 11:42] shailesh opened #339 "This vaccination center is completely booked for the selected date"
Centers available in North West Delhi from 25-05-2021 as of 2021-05-25 16:36:32: 13
+-------+------------------------+------------------+-----------+------------+------------+-------------+------------+------------------------------------------------------------------------------+
|   idx | name                   | district         |   pincode | vaccine    | fee_type   |   available | date       |

[2021-05-25 11:44] skapa-xd commented on #334
thanks downloaded it, but endpoint request timeout

[2021-05-25 11:44] #334 closed

[2021-05-25 11:45] skapa-xd commented on #331
Still Endpoint request timed out!

[2021-05-25 11:48] Yash-97 commented on #339
It keeps attempting to book for random slot timings after every failed response is received and stops after all slots have been completely booked.

[2021-05-25 11:50] skapa-xd commented on #331
Still facing the issue

[2021-05-25 11:52] Yash-97 opened #340 "Suggestion"
Can we add an optimization that skips trying to book time slots that are already completely booked?

[2021-05-25 12:06] vaccine-warrior commented on #335
Not an issue as such but the secret can act as an identifier and allow blocking of all scripts  that use that secret

[2021-05-25 12:26] BlackRider97 opened #341 "Unable to validate OTP"
Unable to Validate OTP
{"message": "Endpoint request timed out"}

[2021-05-25 12:34] aadishj19 opened #342 "Not showing available slots even though slots were open"
Slots opened in the city yet the script didn't pick them up and kept saying "No viable option"

[2021-05-25 12:36] aadishj19 commented on #342
Didn't pick up even a single open slot since last update

[2021-05-25 12:38] saurabh1069 commented on #336
i have been doing something similar before with selenium , but its more error prone, something  https://messages.google.com/web. stop syncing with mobile in my xiomi phone. i like better with kvdb.io

 chrome_options = Options()
    chrome_options.add_experimental_option("debuggerAddress", "127.0.0.1:9222")

    chrome_driver = "D:/covid-vaccine-booking-main/chromedriver.exe"
    driver = webdrive

[2021-05-25 12:48] Nakul93 commented on #341
This has been fixed. Pull the latest changes

[2021-05-25 12:55] dasanupam opened #343 "Feature Request"
Would it be possible to pause the request in the middle off session using any keyboard shortcut or something so that when ever we want, we resume the checking again
@bombardier-gif Your thoughts ?

[2021-05-25 13:10] shailesh commented on #343
CTRL + C

or

CTRL +  Z

[2021-05-25 13:12] dasanupam commented on #339
Yes I am also facing the same issue now with latest script
Once the centre is fully booked we should not loop on the same Centre and move on to looking for available center

[2021-05-25 13:13] akrutikhandelwal commented on #342
yes

[2021-05-25 13:43] dasanupam commented on #343
That would kill the script ,

 I was thinking like pausing the script so that and then rerunning . This would help as we can enable the script back again exactly before the slots open and

[2021-05-25 14:00] shailesh commented on #343
Token will expire anyway

[2021-05-25 14:03] dasanupam commented on #343
How long does the token stay active ? Actually some centre in blore have fixed time of opening the slots . Eg slots for hosp 1 opening on 7am so i start script 6.59 if i miss hosp1 i pause script and then hosp 2 opens at 7.30 then i restart again

[2021-05-25 14:05] omkark96 commented on #321
Faced the same issue right now. The script, running for 7 minutes before the telegram bots started reporting available slots, reported 'no viable options' with all possible options set to 'NO PREFERENCE'.

Cloned source code this afternoon so have the latest changes 👍🏻

[2021-05-25 14:05] shailesh commented on #343
15 mins

[2021-05-25 14:06] shailesh commented on #343
Please try to customize the code your way as per requirements. We are bringing new features basis of voting since a lot of things starts breaking on too much customizations

c.c @bombardier-gif

[2021-05-25 14:09] shailesh commented on #301
is it possible to set up a unit test mechanism? Anyone one guys?

c.c @bombardier-gif @Nakul93

[2021-05-25 14:10] shailesh commented on #301
try yes for auto captcha. and please share more logs so that one of us can understand a bit more and help you fix those.

[2021-05-25 14:13] Nakul93 commented on #301
@shailesh I was also thinking of writing unit tests. That we could be better test the code.

[2021-05-25 14:21] shailesh commented on #301
Let me know if you need me. We can go with few things such as

[code]

_Pass random choices from those JSON and check if the main algorithms/functions are working fine._

**IDEA IS TO MOCK THOSE EXTERNAL APIs AND TEST MAIN LOGIC.**

let me know if have something to add to this.

[2021-05-25 14:32] 6mxo89sqh commented on #343
Hi @dasanupam , you can do so by using the cli flags. The code is still not merged but u can try it. #318

How to do it:
1. Run the script normally first to generate your config.
2. Copy the token during your first run.
3. When you want to resume, run as following:
`./src/covid-vaccine-slot-booking.py --mobile <ur number> --no-tty --token <copied_token>`

Hope this helps.

[2021-05-25 14:33] omkark96 opened #344 "Anyone who was able to book a slot with the current main branch?"
Was able to book slots with the 10th May 2021 main branch source code. Something has most likely broken as open slots are being missed by the script which defeats the whole aim of the project :(

Seems like added customization have created a lot of noise that might have let a bug or two slip in.

P.S.: I have hot-tested this twice with NO_PREFERENCE options for all the options to keep the chances

[2021-05-25 14:39] 6mxo89sqh commented on #339
@BlackRider97 Are you trying all slots of the center? I guess we should move on to next center even if we dont get booking in one slot. As slot doesn't matter.

[2021-05-25 14:45] #341 closed

[2021-05-25 15:06] siddharthgoyal90 commented on #344
Same, just have the slots open, but script was not able to pick them. Can we use the one we had just before that with that OTP validation issue fixed in that branch? @bombardier-gif

[2021-05-25 15:08] BlackRider97 commented on #344
I just completed two booking with latest `main` branch code.
Can you share what error you are getting ?

[2021-05-25 15:15] siddharthgoyal90 commented on #344
No errors. It just says no viable option available, inspite of the fact - on CoWIN platform, slots did opened up.

[2021-05-25 15:16] Nakul93 commented on #344
@omkark96 @siddharthgoyal90 You can switch to a older commit and check if that works for you

[2021-05-25 15:17] shailesh commented on #340
Same that we call centre list to check available slots.

I guess this refers to. #339

[2021-05-25 15:25] BumpyKnuckls commented on #307
@Akash199211113 Were you able to check if it works on the latest main?

[2021-05-25 15:29] gitisuam commented on #344
Yes even I was not able to book with current version. It says no viable options

[2021-05-25 15:33] rupamcroy opened #345 "Slots being missed by the script"
Even though Slots did open in CoWin, was unable to book for last two days. I tried continuously for couple of days, but it does not identifies the open slots. There is no error but still most of the time slots are being missed. pls help.

[2021-05-25 15:34] omkark96 commented on #344
Change to these lines for fixing OTP validation issues:
https://github.com/bombardier-gif/covid-vaccine-booking/blob/24a445c64649ac3b91e2a220ca92879ffe8bdad0/src/covid-vaccine-slot-booking.py#L33-L38

[2021-05-25 15:39] shivaslifzz commented on #344
I am able to book the slots but only diffcult portion is entering the OTP manually everytime

[2021-05-25 15:43] shivaslifzz opened #346 "script is not listening to the OTP"
IFTTT sending the OTP to the shared location but script is not able to listen it
<img width="575" alt="otp listener" src="https://user-images.githubusercontent.com/61616987/119527580-13d2da00-bd9e-11eb-9f27-e23a5aa3ee25.PNG">
<img width="489" alt="otp retriver" src="https://user-images.githubusercontent.com/61616987/119527584-159c9d80-bd9e-11eb-832f-b3a153bbd9f4.PNG">

[2021-05-25 15:47] shailesh commented on #345
which district may I know, please?

[2021-05-25 15:49] Nakul93 commented on #344
@BlackRider97  what are your thoughts on this. This is not good. I think we need to switch back to the older logic.

[2021-05-25 16:06] shailesh commented on #344
[code]

============> Trying Choice

take a kook at logs, it is interesting actually.

[2021-05-25 16:10] #343 closed

[2021-05-25 16:12] Nakul93 commented on #344
Thats not good. I think you were lucky enough to get the slot even after so many retries. We definitely need to change the logic.
Suggestion:
Maybe pick a random center and iterate through all the slots, if everything is booked then that center should be marked as false and shouldn't be even displayed in the table and move on to the next random center

[2021-05-25 16:18] 1nfected commented on #323
Yes! I was able to see option to pay using UPI.

[2021-05-25 16:18] shailesh commented on #344
I've got a doubt in checking slots_available, we just make it true false but where are we checking on dose_1 and dose_2 we have missed that in the code I guess where earlier we had this in place due to which I guess this kept trying for maybe 2nd dose or a 45+ centre but Cowin returned 409.  with error message "This vaccination centre is completely booked for the selected date".

The second point

[2021-05-25 16:19] rupamcroy commented on #345
Its for Bangalore   BBMP

[2021-05-25 16:19] nolimits0007 commented on #344
Today with the same script i did book 2 slot simultaneously at 17:00 without automatic captcha settings.
But now getting OTP Len is :0 issue through iphone.
<img width="917" alt="Screenshot 2021-05-25 at 21 47 44" src="https://user-images.githubusercontent.com/84738436/119532995-0bc96900-bda3-11eb-8a4b-e2184f078705.png">

[2021-05-25 16:19] shailesh commented on #323
Cool! @bombardier-gif let me know I can help you then

[2021-05-25 16:24] bombardier-gif commented on #346
I think you have entered manual OTP. try for auto-otp read.

[2021-05-25 16:24] #346 closed

[2021-05-25 16:25] bombardier-gif commented on #346
reopen this issue if you are still facing problems

[2021-05-25 16:25] nolimits0007 opened #347 "Unable to Get automatic OTP through iphone."
plz help as i am  not getting automatic OTP through iphone every time i have to press Run on iphone to send sms.
<img width="917" alt="Screenshot 2021-05-25 at 21 47 44" src="https://user-images.githubusercontent.com/84738436/119533863-ea1cb180-bda3-11eb-8d3c-0434ba6ef989.png">

[2021-05-25 16:26] bombardier-gif commented on #345
whats your frequency for polling?

[2021-05-25 16:27] bombardier-gif commented on #347
yes.. thats how the shortcuts work in iphone. nothing much we can do here

[2021-05-25 16:27] #347 closed

[2021-05-25 16:29] bombardier-gif commented on #340
See one of the issues is that the center has vacant slots but they get booked by the time our script attempts to book. There is nothing much we can do here, as it depends on various issues such as caching and concurrency.

Please reopen this issue if you feel there is still a problem with our code.

[2021-05-25 16:29] #340 closed

[2021-05-25 16:31] bombardier-gif commented on #335
Ok. lets keep this in mind in case our requests get blocked later

[2021-05-25 16:31] #335 closed

[2021-05-25 16:31] shivaslifzz commented on #346
I am running this command "python src\covid-vaccine-slot-booking.py" and waited for 10 mins but auto login was not happening

[2021-05-25 16:34] Nakul93 commented on #344
For the age group we already filtering that and according to the beneficiary and dose num is taken care here
https://github.com/bombardier-gif/covid-vaccine-booking/blob/24a445c64649ac3b91e2a220ca92879ffe8bdad0/src/utils.py#L723-L732

What I don't get it is why is it iterating over the same slot which has been tried out already.

[2021-05-25 16:34] shailesh commented on #344
Observations:

[code]

Seeing above in the first place, should not be repeated if failed. update a dictionary with tried center id and slots for that session(must) because if the same center opened slots for another day this should not be the blocker.

Second need to check and verify if we are updating the list of center and availability if failed are going back to check the new center or looping

[2021-05-25 16:39] shivaslifzz commented on #346
Now I am able to understand it thanks @bombardier-gif

[2021-05-25 16:40] shailesh commented on #320
@ankit4000 : https://github.com/bombardier-gif/covid-vaccine-booking/releases

@bombardier-gif please close this

[2021-05-25 16:41] shailesh commented on #284
@bombardier-gif please close this one

[2021-05-25 16:50] shailesh commented on #344
isn't this a bug too?

[code]

for this:

[code]

[2021-05-25 16:58] shailesh commented on #306
@bombardier-gif any luck?

[2021-05-25 17:02] rupamcroy commented on #345
was Polling at 10 sec. Also tried changing it to 15. but no luck

[2021-05-25 17:02] shailesh opened #348 "No More Required"
https://github.com/bombardier-gif/covid-vaccine-booking/blob/24a445c64649ac3b91e2a220ca92879ffe8bdad0/src/utils.py#L696-L716

No More Required, since this was for anti-captcha

[2021-05-25 17:04] shailesh commented on #345
try 7, which I think best.
Another way is to see the patterns of time frame for opening slots by centre via a telegram channel and minimise your frequency for that period and then chances of booking are more.

[2021-05-25 17:05] shailesh commented on #348
If removed booking will get more faster. since I guess this was put as the wait time for a third-party captcha solver.

[2021-05-25 17:13] ggoel1998 commented on #339
Same thing happened with me too and at the end coWIN blocked my ip with error message as `{
 "error": "Too Many Requests"
}
`
I am attatching logs for the same instance
[log.txt](https://github.com/bombardier-gif/covid-vaccine-booking/files/6541149/log.txt)

[2021-05-25 17:29] shailesh opened #349 "Proceed with above info?"
By default, this should Y

1. most of the time mistakenly I have pressed enter and gone to the first step of selecting choices.
2. this is more important where I was out of rate limit by too many request calls after when I got the OTP and token was generated, the script automatically went on to the first step and came to last to proceed with the above info and nothing typed which exited the code a

[2021-05-25 17:46] Kanchangk commented on #339
anyone got any  update on this issue?

[2021-05-25 17:49] shailesh commented on #339
on it!

[2021-05-25 17:58] bombardier-gif commented on #306
I will share the PR in couple of hours

[2021-05-25 18:40] 6mxo89sqh commented on #306
@bombardier-gif Is manipulation of XFF header working? [AWS Documentations](https://docs.aws.amazon.com/waf/latest/developerguide/waf-rule-statement-type-rate-based.html) suggests it won't work by default. Are you trying some other way?

[2021-05-25 21:29] sumit7 opened #350 "[Logic for filtering via min_age_limit is wrong]"
https://github.com/bombardier-gif/covid-vaccine-booking/blob/24a445c64649ac3b91e2a220ca92879ffe8bdad0/src/utils.py#L52

In viable_options() function if checks for session[min_age_limit]< min_age_booking.
But in case of booking for people above 45yers, it will accept bth 45yrs and 18-44yrs sessions as viable.

[2021-05-26 03:04] Kanchangk commented on #350
isn't the centers are being filtered in filter_centers_by_age( ) brfore the viable_option() is called?

[2021-05-26 03:59] BlackRider97 commented on #339
[code]

@shailesh I have looked at your logs. It seems that logic is working as expected.
I think issue is slots opening APIs is returning response with slots are open while at the time of booking it is saying "center is fully booked"

We can not skip a center in next run as sometime a center opens multiple time with different vaccine types.

[2021-05-26 04:10] BlackRider97 commented on #344
@Nakul93 Logic is try for all centers and every slot of each center and if a center is fully booked then skip all other slots of that center.

[2021-05-26 04:15] shailesh commented on #344
But this is happening repeatedly

[2021-05-26 04:21] Nakul93 commented on #344
Exactly look at the logs by @shailesh

[2021-05-26 04:39] Nakul93 commented on #350
@Kanchangk is right. filter_centers_by_age() takes care of this

[2021-05-26 04:55] ravichoubey5 opened #352 "Unable to Generate OTP 429 { "error": "Too Many Requests""

[2021-05-26 05:18] ishallwin20 commented on #352
It's self explanatory, stop sending too many request.

[2021-05-26 05:23] bombardier-gif commented on #352
You can try with lesser frequency after some time.

[2021-05-26 05:23] #352 closed

[2021-05-26 05:24] bombardier-gif commented on #349
Thanks Shailesh. Could you please raise a quick PR for this?

[2021-05-26 05:25] bombardier-gif commented on #345
It is a bit of hit and miss due to the way the server caches the data, and also concurrency (lot of people are using these bots)

[2021-05-26 05:25] #345 closed

[2021-05-26 05:26] SachinBukkawar21 opened #353 "Getting ModuleNotFoundError: No module named 'jwt'"
Hi I'm Getting error as below

[code]

when I run `python covid-vaccine-slot-booking.py`

Please help. I've downloaded the latest code

[2021-05-26 05:29] Nakul93 commented on #353
Install all the requirements as mentioned in the readme

[2021-05-26 05:48] omkark96 commented on #353
`pip install PyJWT` should do the trick

[2021-05-26 06:28] SachinBukkawar21 opened #354 "Unable to autofetch OTP"
Autofetch OTP is not working on my site.

Note:
1. I have the latest code
2. Installed and setup "CoWIN OTP Retriver" & "IFTTT" both the apps

Issue: it always showing below
![InkedScreenshot 2021-05-26 115019_LI](https://user-images.githubusercontent.com/84830988/119612443-83d27600-be19-11eb-99de-02deca23354e.jpg)

[2021-05-26 06:29] BaasilSiddiqui commented on #353
google pip install jwt module it will give u code like pip install PyJWT paste that code in command prompt do this for any module it asks for.

[2021-05-26 06:41] Kanchangk commented on #350
on minimum slots:

codes for minimum slots, or the option to enter minimum slots looking for is not required i believe as i am not sure why someone will look for centers having more than X number of slots if he needs only X slots.

[2021-05-26 06:43] Kanchangk commented on #353
there are two different libraries, JWT and PyJWT. If you have installed both, it will create conflict. simple way to uninstall both and install PyJWT again.

[2021-05-26 06:46] Kanchangk opened #356 "Enhancement"
can there be an option for going back? i mean, enter y for yes, n for no, b for going back to previous step.

Many a times I find myself entering wrong options and I have to close the script and run again.

[2021-05-26 06:52] #349 closed

[2021-05-26 06:53] shailesh commented on #349
#355

[2021-05-26 06:53] gitmnj commented on #344
@shailesh @Nakul93 @bombardier-gif @BlackRider97 @BumpyKnuckls

this new script is missing the slots and even detecting the center's lately when all slots are gone and for areas where large amount of slots are available it is working normally

[2021-05-26 07:01] sumit7 commented on #353
if you have JWT, the code is jwt.JWT.decode(token, do_verify=False)

[2021-05-26 07:03] sumit7 commented on #350
True the filtering out, saves the code. but then it doesn't do anything at all. And without filtering before calling viable options, then it is just wrong.

[2021-05-26 07:03] #350 closed

[2021-05-26 07:18] akashdmahali commented on #344
I too was able to book slots this morning

[2021-05-26 07:20] SachinBukkawar21 commented on #354
@akashdmahali Yes I checked this.

Actually, it was working fine before 10 days.

[2021-05-26 07:27] akashdmahali opened #357 "KVDB Bucket Name Update"
@bombardier-gif  does the KVDB bucket changes after every few days or week? The current bucket is "ASth4wnvVDPkg2bdjsiqMN/". I was wondering if an option can be given to create own own kVDB buckets.

[2021-05-26 07:29] SachinBukkawar21 commented on #353
Thank you, everyone, Now I can run the script but not able to auto fetch OTP.
Created diff ticket for this. https://github.com/bombardier-gif/covid-vaccine-booking/issues/354
Please help me to sort this out if you can,

Thank you @Nakul93 @omkark96 @BaasilSiddiqui @Kanchangk for helping me out here
And closing this ticket as your suggestion fixed the mentioned issue.

[2021-05-26 07:29] #353 closed

[2021-05-26 07:30] gitmnj commented on #344
Enter comma separated index numbers of beneficiaries to book for : 2
Selected beneficiaries:
+-------+----------------+--------+-----------+-------+----------------+--------------+
|   idx |        bref_id | name   | vaccine   |   age | status         | dose1_date   |
+=======+================+========+===========+=======+================+==============+
|     1 | 66671805918150 | Hhsh   |

[2021-05-26 07:32] gitmnj commented on #344
when tried here it is working like charm but in situations where slots are released at specific time like at 400053 around 1600 they release slots please check and let me know

[2021-05-26 07:34] akashdmahali commented on #354
I guess the KVDB is rate limiting the requests to fetch the stored OTP

[2021-05-26 08:03] Traceless4ever opened #358 ""message": "Endpoint request timed out""
only this is showing, its not able to validate the otp !!!!!! PLEASE HELP

[2021-05-26 08:04] Traceless4ever opened #359 "NOT WORKING"
only this is showing, its not able to validate the otp !!!!!! PLEASE HELP

[2021-05-26 08:05] Kanchangk commented on #358
what the frequency you were using prior to requesting new OTP?

[2021-05-26 08:27] YashMohanGarg opened #360 "Please clarify the difference between pin code option and State/District filter by Pincodes"
Enter 1 for Pincode or 2 for State/District or 3 for State/District filter by Pincodes (Optimized for rate-limit) (Default 2): 1

[2021-05-26 08:29] akashdmahali commented on #354
The existing kvdb url is still working for me. I've raised a new [issue](https://github.com/bombardier-gif/covid-vaccine-booking/issues/357#issue-901895275) to discuss the possibility of using our own kvdb urls. This might get too technical and may add another step in setting up this whole ecosystem.

Coming to the existing kvdb url I do see a possibility  of it getting expired under the free tria

[2021-05-26 08:33] Nakul93 commented on #359
Could you please update the code. This issue has been fixed

[2021-05-26 08:36] omkark96 commented on #360
Option 3 fetches centers for the given district but will filter and check slots only for the pincodes that you provide. This helps because, in the case of option 1, you make separate calls for every pincode while in option 3 you just make one call to get all centres in the district and then filter locally to get relevant pincodes

[2021-05-26 09:01] BaasilSiddiqui commented on #354
I had the same problem the link shown in cmd prompt was different from what I had entered in IFTTT so I copy pasted the link then it worked fine. also ensure otp is coming on the same device in which u hv setup IFTTT. if it still doesn't work  u can choose to enter otp manually but u would hv to be present while running script bc it asks for otp whenever token expires.

[2021-05-26 09:29] bombardier-gif commented on #356
Its a good idea, but would add complexity in the creation of a state machine.
once you save your options you dont need to enter them again (a workaround).

I am labelling the issue as an enhancement and closing this. we will revisit later We could consider this once our branch is more stable.

[2021-05-26 09:29] #356 closed

[2021-05-26 09:30] bombardier-gif commented on #359
Let me know if it works

[2021-05-26 09:31] bombardier-gif commented on #357
You can create the bucket and just replace the name in the script.
(you also need to update your IFTTT/iOS Shortcuts/apk)

[2021-05-26 09:31] #357 closed

[2021-05-26 09:53] sumit7 commented on #303
I think this has nothing to do with api rate limit. Its connection issue.
just put the request between while try except. (put time.sleep(1) in except for sanity

[2021-05-26 09:56] SachinBukkawar21 commented on #354
this is not the case, because I can see toast message that OTP has been sent(push) to kvdb

[2021-05-26 09:57] sumit7 commented on #335
@vaccine-warrior If we watch for network requests in browser while requesting otp and validating otp, we can see the secret being sent. It is different at different times. So we can pick up a different secret value from there. Not an elegant solution, since I have no idea what the secret variable is.

[2021-05-26 09:58] SachinBukkawar21 commented on #354
Right!! I'm done with the booking by entering manual OTP

[2021-05-26 10:01] SachinBukkawar21 commented on #354
Although I'm Done booking by entering manual otp, I suggest to go with manual entering otp even if you are facing issue while auto fetching the OTP.

Still I'll keep this ticket open if anyone can do the improvement.
Or if you want me to close then pls LMK

[2021-05-26 10:42] uzmamarturclim8invest commented on #344
@gitmnj where u able to book for 400053 pin today using this script ?

[2021-05-26 10:51] gitmnj commented on #344
I was not able to the script didn't showed the slots detected the centre when slots were gone

[2021-05-26 11:01] akrutikhandelwal opened #362 "Not showing the list of available centers"
![vaccine](https://user-images.githubusercontent.com/43274159/119648972-b2fbde00-be3f-11eb-9114-ec75c8941bee.jpg)
Code not able to show the list of centers even though they are available

[2021-05-26 11:06] skapa-xd commented on #358
he is saying that he fixed it, but the issue still persists!

[2021-05-26 11:17] mohanbigblue opened #363 "Captcha Code 200 - not successful with booking on windows"
![Captcha Code 200](https://user-images.githubusercontent.com/27348780/119650865-f1929800-be41-11eb-81f8-cae1c49dba74.png)
anyone successfully booked with windows executable file?

[2021-05-26 11:24] shivaslifzz commented on #363
I tried with covid-vaccine-slot-booking.py file it's working absolutely fine

[2021-05-26 11:24] uzmamarturclim8invest commented on #344
@gitmnj ya same happened with me. People have commented that the earlier version of script didnt have this problem. Is it true? Whats your thought is it due new commits? or CoWIN is able to detect the automated  request and skipping them ?

[2021-05-26 11:25] gitmnj commented on #344
I think it is because of the new commits in the code

[2021-05-26 11:35] vishykane2 commented on #363
You might have to try and copy the model.txt from src folder to the main folder.

[2021-05-26 11:42] unknown687 opened #364 "I need help in Machine Learning Algorithm for university project How to Contact You?"

[2021-05-26 11:45] nolimits0007 commented on #344
Everything working great with this new script . I booked in Bombay with 2 Beneficiaries.

Thanks a Lot to everybody who helping the needy ones.

PFA screenshot .

<img width="923" alt="Screenshot 2021-05-26 at 17 02 20" src="https://user-images.githubusercontent.com/84738436/119654212-d1fd6e80-be45-11eb-992b-981ca42d958d.png">

[2021-05-26 12:01] skapa-xd opened #365 "Can we just get a New executable which is working with the new code??"
Not been able to go past the validation of otp, tried new code and this came up
![Screenshot (76)](https://user-images.githubusercontent.com/68050388/119656342-33264180-be48-11eb-9e34-858393d0df6d.png)

[2021-05-26 12:11] nolimits0007 commented on #344
I think if u select more than 3 pin codes then it skipped for me also and u keep default frequency.

In the above mentioned booking i kept district as Mumbai and default frequency to be 7.

[2021-05-26 12:23] mohanbigblue commented on #363
thanks folks, it's indeed working.  I've successfully booked the slot.

[2021-05-26 12:23] #363 closed

[2021-05-26 12:40] sumit2k21 opened #366 "script unable to check slots at centers after some running time [Government not allowing continuous monitoring on portal as it seems] 423: Too many requests actually"
Logs: printing availalbe centers at each pin, but after 1-2 minutes it just prints blank lines only '============'
![image](https://user-images.githubusercontent.com/81756345/119661031-8058e200-be4d-11eb-9635-7791972f23ee.png)

[2021-05-26 12:41] sumit2k21 commented on #366
are these pin codes getting removed some how ? so it printed all the pincodes then on next iteration just 4 then just 3 then nothing no pincodes are getting checked.

[2021-05-26 12:47] gitisuam commented on #344
thanks @nolimits0007 .. Your trick to keep below 3 pincodes worked.  I could book in Lilavati.
@gitmnj - I am the same person who asked for 400056 to you. Please put less than 3 pin codes it works.

[2021-05-26 12:48] sumit2k21 commented on #366
![image](https://user-images.githubusercontent.com/81756345/119662036-8e5b3280-be4e-11eb-8fdf-045f38150747.png)
Seeing this Again I think when querying the list even in the cowin portal multiple times clicking search option it starts giving error.
`'Something went wrong, please try again later'`

[2021-05-26 12:48] gitmnj commented on #344
Ok will try with 3 pincodes

[2021-05-26 12:48] hpk22 opened #367 "Feature request"
Is there any way we can book slots on mobile devices. Like keeping laptop always open makes things little tedious. So please suggest alternative.

[2021-05-26 12:55] nolimits0007 commented on #344
ur welcome @gitmnj. what i think above 3 pin code makes it difficult. but if u keep =<3 then it work . Whole district is not an issue at all. Frequency is also imp.

[2021-05-26 12:56] gitmnj commented on #344
Yaa but I don't run the script once i get the notifications from telegram i start it

[2021-05-26 12:57] gitisuam commented on #344
@gitmnj start atleast 2 mins before. bcz has telegram has its own seconds delay.

[2021-05-26 12:58] gitmnj commented on #344
Yaa but the slots are like 800-900 still it never catch them manually I have booked

[2021-05-26 12:59] shantanu-deriv commented on #320
This might be related to #290

[2021-05-26 13:06] shantanu-deriv opened #368 "Keep zips / exe files as release artifacts"
Currently files like several `.exe`, `.zip` and `.bat` are included in the repo. IMHO they should be removed from the repo and made part of release artifacts. This will reduce the repo size as git diff cannot determine file changes in such file types and blindly keeps all versions of these files.

If we dont want that have a look at: https://opensource.com/life/16/8/how-manage-binary-blobs-git-par

[2021-05-26 13:06] sumit2k21 commented on #366
![image](https://user-images.githubusercontent.com/81756345/119664559-16423c00-be51-11eb-802f-432bd43a166e.png)
Checked in the developer tools it is giving `status code 429: too many requests.`
So we can not keep continuously searching the availibity in on OTP login also the site doesn't generate OTP with 3 minutes again that condition is also enhanced by cowin website developers to prevent automa

[2021-05-26 13:17] omkark96 commented on #366
When asked for
`Enter 1 for Pincode or 2 for State/District or 3 for State/District filter by Pincodes (Optimized for rate-limit) (Default 2):`
choose option 3,
Select State, District and then provide your list of pincodes.

[2021-05-26 13:23] nolimits0007 commented on #344
Boss u have run script continuously. Use CoWinOtpRetreiver.apk on ur android so that ur token does not expires and that's it
Hurray!!!. Try again and again till u succeed. Enjoy Happy Vaccination for u & help others .
Don't wait for Telegram .

[2021-05-26 13:39] hpk22 opened #369 "Add option to select time slot according to user's preference"
Please add option to select time slot according to user's preference. It would make this software complete 👍

[2021-05-26 13:39] sumit2k21 commented on #362
It doesn't show the details when you search by state/district thing, it just show number of centers available which it is showing as 7 for BBMP district.
Its not an issue.

[2021-05-26 13:43] Nakul93 commented on #369
Yeah there has been some updates in the API. It has added an option for ‘from’ and ‘to’ time in the appointment sessions API

[2021-05-26 13:46] akrutikhandelwal commented on #362
Then why is it not showing the slots available?

[2021-05-26 13:58] shailesh commented on #306
[code]

**This works to change the new IP everytime for a new request:**

[code]

[2021-05-26 14:30] shan-96 commented on #289
@bombardier-gif can you merge this PR? I have tested it. Also I have added a test suite that may help in #301

[2021-05-26 14:31] shan-96 commented on #369
Hi @hpk22 can you please rename the issue title to `add option to select time slot according to user's preference` Feature request is too generic. Thanks

[2021-05-26 14:46] omkark96 commented on #306
Also, I have observed the rate limit has been relaxed to a certain extent post the rigorous limit a couple of days back. I'm able to hit the APIs to check centers without errors for a considerably good amount of time.

[2021-05-26 14:56] aniketdharia opened #371 "failing at captcha!"
![image](https://user-images.githubusercontent.com/5195781/119682939-e864f380-be60-11eb-98ae-df9c877fe2a1.png)

[2021-05-26 16:23] BlackRider97 commented on #344
@bombardier-gif  Can you also publish analytics daily reports collected from kvdb in automated manner.
This will help in determining how many successful booking were made thru this. This will also help in highlighting any serious code issue in core path which is recently added to the repository.
@shailesh  thoughts ?

[2021-05-26 16:28] bombardier-gif commented on #371
+1 to @Nakul93
The case seems to be that someone else booked a slot before you could succeed.

[2021-05-26 16:28] #371 closed

[2021-05-26 16:43] uvmittal commented on #306
it works as said
but cowin still gets around it to block me

[2021-05-26 16:46] uvmittal commented on #306
C:\Users\uvmit\Documents\GitHub\covid-vaccine-booking>python tor.py
build circuit
  <p>Your IP address appears to be:  <strong>213.164.206.XX3</strong></p>
  <p>Your IP address appears to be:  <strong>213.164.206.XX3</strong></p>
renew circuitx
  <p>Your IP address appears to be:  <strong>193.32.126.XX1</strong></p>
  <p>Your IP address appears to be:  <strong>193.32.126.XX1</strong></p>

C:\Users

[2021-05-26 17:15] 6mxo89sqh commented on #365
Its here:
https://github.com/bombardier-gif/covid-vaccine-booking/releases/latest

[2021-05-26 17:15] devakar80 commented on #366
Same problem with me
"Too Many Requests"

[2021-05-26 18:42] AanchalV opened #372 "Script not reading my OTP"
Despite recieving the OTP on phone (tried for different bookings on IFTT and Apple shortcuts both), script does not read the OTP. And it keeps on running in the loop. PFA screenshot.
![InkedCapture13_LI_Moment](https://user-images.githubusercontent.com/17899631/119726999-68a24d80-be8f-11eb-8312-f6cea81c7642.jpg)

[2021-05-26 20:21] Nakul93 commented on #372
Please mask your mobile no or any other personal details while you provide the logs.

I have tried it for iOS and it seems to work fine. Go through the Readme and follow all the instructions carefully. Maybe do the setup in IFTTT/Shortcut app once again and try.

[2021-05-26 20:32] AanchalV commented on #372
Thanks Nakul. I have masked my details. Code was working fine for till yesterday. It has stopped to do so after the recent change of 26th May.

[2021-05-26 20:34] manojagarwal68 commented on #344
Is this still an issue? One suggestion was limiting to 3 pincodes. But is that needed if you are choosing option 3 where you provide state/district and then list of pin codes? Because in that case it gets all the data and then filters the data..

[2021-05-26 20:46] Nakul93 commented on #372
That is rather strange, there has only been 1 commit yesterday which had nothing to do with OTP, so the logic is unchanged. Check if your phone is not in battery saver mode, also check all the other tips related to auto OTP read from readme

[2021-05-27 04:18] AanchalV commented on #372
Before this, i was using code version downloaded on 15th May. Then it started giving error #341 , so i re-downloaded the code, updated Python version and ran it. It is after that i am facing the above issue. Is there anything else that i am missing ?

[2021-05-27 04:56] bombardier-gif commented on #372
1. Can you open the IFTTT applet and check the logs for errors, and also when did it run the last?
2. Did you buy the premium version of IFTTT? That runs realtime than the free one

[2021-05-27 04:58] AanchalV commented on #372
Hey. Just checked again. I was using the old kvdb link. Updated that and it is working fine now.
Thanks for your support !

[2021-05-27 04:59] SRvSaha commented on #306
@bombardier-gif @shailesh @6mxo89sqh Check this: https://www.mohfw.gov.in/pdf/CoWINAPIGuidelinesFinal240521.pdf
Things are getting really complicated now.

[2021-05-27 05:07] bombardier-gif commented on #368
+1 on the suggestion. I will mark this as an enhancement and close this. we can revisit it whenever someone wants to contribute

[2021-05-27 05:07] #368 closed

[2021-05-27 05:12] bombardier-gif commented on #366
Yeah the "Too many requests" is the result of a rate limiter in place. There isnt much to do except reduce the frequency and try after a while

[2021-05-27 05:12] #366 closed

[2021-05-27 05:17] nmathew opened #373 "Any plans for open sourcing CoWinOTPRetriever??"
Hi,

Thanks for the good tool, do you have any plans for open sourcing CoWinOTPRetriever?

Thanks

[2021-05-27 05:20] nmathew commented on #373
Already here, thanks a lot...

[2021-05-27 05:20] #373 closed

[2021-05-27 05:41] Kanchangk opened #374 "possible bug"
What if one user is not vaccinated yet and another one has taken first does?

https://github.com/bombardier-gif/covid-vaccine-booking/blob/f4e709b2b814dd624ac0677aca92f0cca76509d3/src/utils.py#L182

[2021-05-27 05:54] #374 closed

[2021-05-27 06:30] akshaydhoka opened #375 "Press enter to refresh immediately during countdown for next refresh"
Can we have similar feature to one in main branch into this forked branch?

Commit #181 in the main branch (pallupz)
During the message "No viable options..." press Enter to immediately refresh.
Example:

Centers available in 560049 from 22-05-2021 as of 2021-05-21 18:16:29: 0
No viable options. Press enter to refresh immediately. Next update in 8 seconds...
=======================================

[2021-05-27 06:41] Kanchangk opened #376 "dose 2"
What if beneficiaries have different does 2 dates but both are in past (assuming all other valid parameters like same vaccine type etc. )

https://github.com/bombardier-gif/covid-vaccine-booking/blob/f4e709b2b814dd624ac0677aca92f0cca76509d3/src/utils.py#L253

[2021-05-27 06:49] Nakul93 commented on #376
Currently different dose2 dates are not supported. If this is to be implemented then you have to make separate API calls for each date alongside PIN/district which might cause rate limiting issues.